<body class="linksbody w-90">
    <div class="flex place-content-around">
        <mat-grid-list cols="2" rowHeight="5:1" gutterSize="4rem" class="grid-layout-custom ml-10 mr-10">
            <mat-grid-tile class="b w-35 h-14 mt-20 rounded-full border border-solid" (click)="onClickGLPI()">
                <p class="pb text-ellipsis overflow-hidden">GLPI</p>
            </mat-grid-tile>
            <mat-grid-tile class="b w-35 h-14 mt-20 rounded-full border border-solid" (click)="onClickAgilize()"
                ><p class="pb text-ellipsis overflow-hidden">Agilize</p></mat-grid-tile
            >
            <br />
            <br />
            <br />
            <mat-grid-tile class="a w-35 h-14 mt-36 rounded-full border border-solid" (click)="onClickNormas()"
                ><p class="pa text-ellipsis overflow-hidden">Políticas, Processos e Normas</p></mat-grid-tile
            >
            <mat-grid-tile class="a w-35 h-14 mt-36 rounded-full border border-solid" (click)="onClickGupy()"
                ><p class="pa text-ellipsis overflow-hidden">Gupy</p></mat-grid-tile
            >
            <br />
            <br />
            <br />
            <mat-grid-tile class="b w-35 h-14 mt-52 rounded-full border border-solid" (click)="onClickRH()"
                ><p class="pb text-ellipsis overflow-hidden">Meu RH</p></mat-grid-tile
            >
            <mat-grid-tile class="b w-35 h-14 mt-52 rounded-full border border-solid" (click)="onClickEmail()"
                ><p class="pb text-ellipsis overflow-hidden">Outlook Online</p></mat-grid-tile
            >
        </mat-grid-list>
    </div>
</body>
