
<div class="w-full">
    <div class="{{margin}}">
            <span class="b w-full h-14 rounded-full border border-solid" (click)="onClickGLPI()">
                <p class="pb mt-3 text-ellipsis overflow-hidden">GLPI</p>
            </span>
            <span class="b w-full h-14 rounded-full border border-solid" (click)="onClickAgilize()"
                ><p class="pb mt-3 text-ellipsis overflow-hidden">Agilize</p>
            </span>
            <span class="a w-full h-14 rounded-full border border-solid" (click)="onClickNormas()">
                <p class="pa mt-3 text-ellipsis overflow-hidden">Normas</p>
            </span>
            <span class="a w-full h-14 rounded-full border border-solid" (click)="onClickGupy()"
                ><p class="pa mt-3 text-ellipsis overflow-hidden">Gupy</p>
                </span>
            <span class="b w-full h-14 rounded-full border border-solid" (click)="onClickRH()"
                ><p class="pb mt-3 text-ellipsis overflow-hidden">Meu RH</p>
            </span>
            <span class="b w-full h-14 rounded-full border border-solid" (click)="onClickEmail()"
                ><p class="pb mt-3 text-ellipsis overflow-hidden">Outlook</p>
            </span>
    </div>
</div>
