<div class="w-full max-w-3xl">
    <!-- Form -->
    <form [formGroup]="accountForm">
        <!-- Section -->
        <div class="w-full">
            <div class="text-xl">Perfil</div>
            <div class="text-secondary">
                Atenção, as informações abaixo são exibidas publicamente!
            </div>
        </div>
        <div class="grid sm:grid-cols-4 gap-6 w-full mt-8">
            <!-- Name -->
            <div class="sm:col-span-4">
                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                    <mat-label>Nome</mat-label>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:user'"
                        matPrefix
                    ></mat-icon>
                    <input [formControlName]="'name'" matInput />
                </mat-form-field>
            </div>
            <!-- Username -->
            <div class="sm:col-span-4">
                <mat-form-field
                    class="fuse-mat-emphasized-affix w-full"
                    [subscriptSizing]="'dynamic'"
                >
                    <mat-label>Nome de usuário</mat-label>
                    <div class="text-secondary" matPrefix>jspecas.com.br/</div>
                    <input [formControlName]="'username'" matInput />
                </mat-form-field>
            </div>
            <!-- Title -->
            <div class="sm:col-span-2">
                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                    <mat-label>Cargo</mat-label>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:briefcase'"
                        matPrefix
                    ></mat-icon>
                    <input [formControlName]="'title'" matInput />
                </mat-form-field>
            </div>
            <!-- Company -->
            <!-- <div class="sm:col-span-2">
                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                    <mat-label>Empresa</mat-label>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:office-building'"
                        matPrefix
                    ></mat-icon>
                    <input [formControlName]="'company'" matInput />
                </mat-form-field>
            </div> -->
            <!-- About -->
            <div class="sm:col-span-4">
                <!-- <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                    <mat-label>Sobre</mat-label>
                    <textarea
                        matInput
                        [formControlName]="'about'"
                        cdkTextareaAutosize
                        [cdkAutosizeMinRows]="5"
                    ></textarea>
                </mat-form-field>
                <div class="mt-1 text-md text-hint">
                    Breve descrição sobre o seu perfil profissional.
                </div> -->
            </div>
        </div>

        <!-- Divider -->
        <div class="my-10 border-t"></div>

        <!-- Section -->
        <div class="w-full">
            <div class="text-xl">Informações Pessoais</div>
            <div class="text-secondary">
                Detalhes de contato, caso precisemos nos comunicar. Essa
                informações permanecerão privadas.
            </div>
        </div>
        <div class="grid sm:grid-cols-4 gap-6 w-full mt-8">
            <!-- Email -->
            <div class="sm:col-span-2">
                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                    <mat-label>E-mail</mat-label>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:mail'"
                        matPrefix
                    ></mat-icon>
                    <input [formControlName]="'email'" matInput />
                </mat-form-field>
            </div>
            <!-- Phone -->
            <div class="sm:col-span-2">
                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                    <mat-label>Telefone</mat-label>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:phone'"
                        matPrefix
                    ></mat-icon>
                    <input [formControlName]="'phone'" matInput />
                </mat-form-field>
            </div>
            <!-- Country -->
            <!-- <div class="sm:col-span-2">
                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                    <mat-label>Country</mat-label>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:location-marker'"
                        matPrefix
                    ></mat-icon>
                    <mat-select [formControlName]="'country'">
                        <mat-option [value]="'usa'">United States</mat-option>
                        <mat-option [value]="'canada'">Canada</mat-option>
                        <mat-option [value]="'mexico'">Mexico</mat-option>
                        <mat-option [value]="'france'">France</mat-option>
                        <mat-option [value]="'germany'">Germany</mat-option>
                        <mat-option [value]="'italy'">Italy</mat-option>
                    </mat-select>
                </mat-form-field>
            </div> -->
            <!-- Language -->
            <!-- <div class="sm:col-span-2">
                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                    <mat-label>Language</mat-label>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:globe-alt'"
                        matPrefix
                    ></mat-icon>
                    <mat-select [formControlName]="'language'">
                        <mat-option [value]="'english'">English</mat-option>
                        <mat-option [value]="'french'">French</mat-option>
                        <mat-option [value]="'spanish'">Spanish</mat-option>
                        <mat-option [value]="'german'">German</mat-option>
                        <mat-option [value]="'italian'">Italian</mat-option>
                    </mat-select>
                </mat-form-field>
            </div> -->
        </div>
    </form>

    <!-- Divider -->
    <div class="mt-11 mb-10 border-t"></div>

    <!-- Form -->
    <form [formGroup]="securityForm">
        <!-- Section -->
        <div class="w-full">
            <div class="text-xl">Definição de senha</div>
            <div class="text-secondary">
                Você pode alterar a senha 2 vezes a cada 24 horas!
            </div>
        </div>
        <div class="grid sm:grid-cols-4 gap-6 w-full mt-8">
            <!-- Current password -->
            <div class="sm:col-span-4">
                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                    <mat-label>Defina a senha</mat-label>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:key'"
                        matPrefix
                    ></mat-icon>
                    <input
                        [formControlName]="'currentPassword'"
                        type="password"
                        matInput
                    />
                </mat-form-field>
                <div class="mt-1 text-md text-hint">
                    No mínimo 8 caracteres. Precisa conter números, letras e
                    caracteres especiais.
                </div>
            </div>
            <!-- New password -->
            <div class="sm:col-span-4">
                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                    <mat-label>Confirme a senha</mat-label>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:key'"
                        matPrefix
                    ></mat-icon>
                    <input
                        [formControlName]="'newPassword'"
                        type="password"
                        matInput
                    />
                </mat-form-field>
                <!-- <div class="mt-1 text-md text-hint">
                    No mínimo 8 caracteres. Precisa conter números, letras e
                    caracteres especiais.
                </div> -->
            </div>
        </div>

        <!-- Divider -->
        <div class="my-10 border-t"></div>

        <!-- Section -->
        <div class="w-full">
            <div class="text-xl">Preferências de segurança</div>
            <div class="text-secondary">
                Mantenha as contas mais seguras com as preferências abaixo
            </div>
        </div>
        <div class="grid sm:grid-cols-4 gap-6 w-full mt-8">
            <!-- 2-step auth -->
            <div class="sm:col-span-4 flex items-center justify-between">
                <div
                    class="flex-auto cursor-pointer"
                    (click)="twoStepToggle.toggle()"
                >
                    <div class="leading-6 font-medium">
                        Habilitar autenticação de 2 etapas
                    </div>
                    <div class="text-md text-secondary">
                        Proteção através da solicitação de autenticação via
                        código SMS, em todos os momentos de login.
                    </div>
                </div>
                <mat-slide-toggle
                    class="ml-4"
                    [color]="'primary'"
                    [formControlName]="'twoStep'"
                    #twoStepToggle
                >
                </mat-slide-toggle>
            </div>
            <!-- Ask to change password -->
            <div class="sm:col-span-4 flex items-center justify-between">
                <div
                    class="flex-auto cursor-pointer"
                    (click)="askPasswordChangeToggle.toggle()"
                >
                    <div class="leading-6 font-medium">
                        Solicitar alteração de senha a cada 6 meses.
                    </div>
                    <div class="text-md text-secondary">
                        Uma forma simples, porém efetiva, de proteção contra
                        vazamento de dados sensíveis ou roubo de senha.
                    </div>
                </div>
                <mat-slide-toggle
                    class="ml-4"
                    [color]="'primary'"
                    [formControlName]="'askPasswordChange'"
                    #askPasswordChangeToggle
                >
                </mat-slide-toggle>
            </div>
        </div>

        <div class="mt-11 mb-10 border-t"></div>

        <!-- Actions -->
        <div class="flex items-center justify-end">
            <button mat-stroked-button type="button">Cancelar</button>
            <!-- <button class="ml-4" mat-stroked-button type="button">
                Editar
            </button>
            <button
                class="ml-4"
                mat-stroked-button
                type="button"
                [color]="'warn'"
            >
                Excluir
            </button> -->
            <button
                class="ml-4"
                mat-flat-button
                type="button"
                [color]="'primary'"
            >
                Salvar
            </button>
        </div>
    </form>
</div>
