.table-container {
    max-width: "100%"; /* Defina a altura máxima que você deseja */
    max-height: 100;
    overflow: auto;    /* Habilita a barra de rolagem quando o conteúdo excede a altura */
  }