<!-- Div Geral, é necessário criar estas variáveis no export component:
    titulo: string = "";
    subTitulo: string = "";
    isToggleOn: boolean;
 -->

<div class=" flex-col w-full pl-1 pr-1 ">
    <div class="flex flex-grow w-full justify-end">
        <mat-slide-toggle class="pt-1" [(ngModel)]="isToggleOn">
            {{ isToggleOn ? "Ocultar filtros" : "Mostrar filtros" }}
        </mat-slide-toggle>
    </div>
    <div class="w-full">
        <div class="flex flex-auto items-center pt-6 pl-6 pr-6 justify-center w-full cabecalho-filtro h-full"
            *ngIf="isToggleOn">
            <div class="flex flex-auto ">
                <img class="mr-3 logo-filter lg:block" src="assets/images/logo/Logo-Rede-JS-Pecas_7.png" alt="" />
                <div class="flex flex-col">
                    <div class="text-3xl font-semibold tracking-tight leading-8" style="color: #fff">
                        {{titulo}}
                    </div>

                    <div class="font-medium tracking-tight" style="color: #fff">
                        {{subTitulo}}
                    </div>
                </div>
            </div>
            <div class="flex flex-wrap justify-end">
               <!-- FILTROS VVVVV -->
               <app-selectfilial #filial></app-selectfilial>


               <!-- FILTROS ^^^^^ -->
           </div>
           <!-- Botão de confirmar filtro, adicionar evento de (click) -->
           <button
               class="sm:inline-flex ml-5 apply-button"
               style="width: 120px"
               mat-flat-button
               [color]="'primary'"
               (click)="getGeral(filial.filiais.value)"
           >
               <span style="font-size: 12px">Aplicar</span>
           </button>
        </div>
    </div>
    <div class="relative flex flex-wrap max-w-full max-w-screen-xl mx-auto p-1 md:p-1 gap-1 justify-center">
        <!-- COMPONENTES ABAIXO -->
        <!-- Colocar class="grid px-2 py-2 w-12/12 rounded-2xl bg-card shadow mb-1" em todos componentes-->
        <!--div class="grid px-2 py-2 w-12/12 rounded-2xl bg-card shadow mb-1">
            <apx-chart
            [series]="chartOptions.series"
            [chart]="chartOptions.chart"
            [dataLabels]="chartOptions.dataLabels"
            [plotOptions]="chartOptions.plotOptions"
            [xaxis]="chartOptions.xaxis"
          ></apx-chart>
        </div-->
        <div class="w-full">
            <div class="fex justify-center">
            <div style=" text-align: center; ">
                <b><mat-label>Dias de Estoque</mat-label></b>
            </div>

            <div   class="flex flex-row w-full gap-2 ">
                <div id="chart"
                    class="relative flex flex-col w-1/4 flex-direction bg-card shadow rounded-2xl overflow-hidden"
                    (click)="atualizarTabela(1)">
                    <br>
                    <mat-label style="text-align: center;"> Até 30 Dias </mat-label>
                    <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart"
                        [plotOptions]="chartOptions.plotOptions" [labels]="chartOptions.labels"
                        [fill]="chartOptions.fill">

                    </apx-chart>
                </div>


                <div id="chart2" style="text-align: center;"
                    class="relative flex flex-col w-1/4 flex-direction bg-card shadow rounded-2xl overflow-hidden"
                    (click)="atualizarTabela(2)">
                    <br>
                    <mat-label style="text-align: center;">De 31 à 60 Dias </mat-label>
                    <apx-chart [series]="chartOptions2.series" [chart]="chartOptions2.chart"
                        [plotOptions]="chartOptions2.plotOptions" [labels]="chartOptions2.labels"
                        [fill]="chartOptions2.fill">
                    </apx-chart>
                </div>


                <div id="chart3" style="text-align: center;"
                    class="relative flex flex-col w-1/4 flex-auto bg-card shadow rounded-2xl overflow-hidden"
                    (click)="atualizarTabela(3)">
                    <br>
                    <mat-label style="text-align: center;">De 61 à 90 Dias </mat-label>
                    <apx-chart [series]="chartOptions3.series" [chart]="chartOptions3.chart"
                        [plotOptions]="chartOptions3.plotOptions" [labels]="chartOptions3.labels"
                        [fill]="chartOptions3.fill"></apx-chart>


                </div>


                <div id="chart4" style="text-align: center;"
                    class="relative flex flex-col w-1/4 flex-auto bg-card shadow rounded-2xl overflow-hidden"
                    (click)="atualizarTabela(4)">
                    <br>
                    <mat-label style="text-align: center;"> Mais de 90 Dias </mat-label>
                    <apx-chart [series]="chartOptions4.series" [chart]="chartOptions4.chart"
                        [plotOptions]="chartOptions4.plotOptions" [labels]="chartOptions4.labels"
                        [fill]="chartOptions4.fill"></apx-chart>
                </div>

        </div>
            <div  style="text-align: left;" class="flex flex-col h-80 bg-card shadow rounded-2xl mt-2">

                <div style=" display: flex">
                    <b> <mat-label>{{tituloTable}}</mat-label></b>
                </div>



                <div>
                    <table
                            class="w-full bg-transparent"
                            mat-table
                            matSort
                            [dataSource]="dataSource"
                            [trackBy]="trackByFn"
                            #recentTransactionsTable
                        >
                            <!-- Dynamic column -->
                            <ng-container
                                *ngFor="
                                    let column of recentTransactionsTableColumns;
                                    let i = index
                                "
                                [matColumnDef]="column"
                            >
                                <th
                                    class="sticky-header"
                                    mat-header-cell
                                    *matHeaderCellDef
                                    mat-sort-header
                                    style="font-size: 12px"
                                >
                                    {{ displayedColumns[i]}}

                                    <mat-icon
                                    class="pl-2 text-lg"
                                    style="opacity: 0.4"
                                    aria-hidden="false"
                                    aria-label="Filter Icon"
                                    fontIcon="menu"
                                    (click)="
                                        filterDialog(
                                            $event,
                                            column,
                                            displayedColumns[i]
                                        )
                                    "
                                ></mat-icon>

                                    <!--button mat-button (click)="openFilterDialog(displayedColumns[i])">Open Filter Dialog</button-->
                                </th>

                                <td
                                    style="font-size: 12px"
                                    mat-cell
                                    *matCellDef="let transaction"
                                >
                                    <span class="pr-2 whitespace-nowrap">
                                        <!-- Conditional formatting for BRL currency -->
                                        {{
                                            transaction[column]
                                        }}
                                    </span>
                                </td>
                            </ng-container>

                            <!-- Footer -->
                            <ng-container matColumnDef="recentOrdersTableFooter">
                                <td
                                    class="py-6 px-0 border-0"
                                    mat-footer-cell
                                    *matFooterCellDef
                                    colspan="6"
                                >
                                    <!-- <button mat-stroked-button>
                                        See all transactions
                                    </button> -->
                                </td>
                            </ng-container>

                            <tr
                                class="order-row h-6"
                                mat-header-row
                                *matHeaderRowDef="recentTransactionsTableColumns"
                            ></tr>
                            <tr
                                class="order-row h-6"
                                mat-row
                                *matRowDef="
                                    let row;
                                    columns: recentTransactionsTableColumns
                                "
                            ></tr>
                            <!--tr
                                class="h-1 border-0"
                                mat-footer-row
                                *matFooterRowDef="['recentOrdersTableFooter']"
                            ></tr-->
                        </table>
                    <mat-paginator [pageSizeOptions]="[10]" showFirstLastButtons
                        aria-label="Select page of periodic elements">
                    </mat-paginator>


                </div>
            </div>

            <!--div class="mt-10 " style=" text-align: center; font-size: 14px;">
                <b><mat-label>Disponibilidade de Estoque</mat-label></b>

            </div-->

            <div id="chartGiro" class="relative flex flex-col bg-card  w-full shadow rounded-2xl mt-10 gap-1 ">

                <div class="">
                    <b> <mat-label> Dias de Estoque / Giro</mat-label></b>
                </div>
                <!--div id="chart">
                    <apx-chart [series]="chartOptionsCurvSKU.series"
                                [chart]="chartOptionsCurvSKU.chart"
                                 [labels]="chartOptionsCurvSKU.labels"
                                [responsive]="chartOptionsCurvSKU.responsive"></apx-chart>
                </div-->

                <apx-chart
                [series]="chartOptionsGiro.series"
                [chart]="chartOptionsGiro.chart"
                [dataLabels]="chartOptionsGiro.dataLabels"
                [plotOptions]="chartOptionsGiro.plotOptions"
                [yaxis]="chartOptionsGiro.yaxis"
                [legend]="chartOptionsGiro.legend"
                [fill]="chartOptionsGiro.fill"
                [stroke]="chartOptionsGiro.stroke"
                [tooltip]="chartOptionsGiro.tooltip"
                [xaxis]="chartOptionsGiro.xaxis"
                [colors]="chartOptionsGiro.colors"
              ></apx-chart>

            </div>


            <div class="flex flex-row gap-4 max-w-full mt-1 ">

                <div class="mt-2 bg-card  rounded-2xl gap-1  w-full" >
                    <div>
                        <b> <mat-label> Disponibilidade por Empresa</mat-label></b>
                    </div>

                    <div  id= "chartSku">
                        <div>
                            <apx-chart [series]="chartOptionsDisponibilidadeEmpresa.series"
                                [chart]="chartOptionsDisponibilidadeEmpresa.chart"
                                [dataLabels]="chartOptionsDisponibilidadeEmpresa.dataLabels"
                                [plotOptions]="chartOptionsDisponibilidadeEmpresa.plotOptions"
                                [yaxis]="chartOptionsDisponibilidadeEmpresa.yaxis"
                                [xaxis]="chartOptionsDisponibilidadeEmpresa.xaxis"
                                [stroke]="chartOptionsDisponibilidadeEmpresa.stroke"
                                [grid]="chartOptionsDisponibilidadeEmpresa.grid"
                                [fill]="chartOptionsDisponibilidadeEmpresa.fill"></apx-chart>




                        </div>
                    </div>
                </div>

                <div class="relative flex flex-col bg-card  w-full shadow rounded-2xl  mt-1 gap-1 " >

                    <div class="">
                        <b> <mat-label> Disponibilidade de SKU</mat-label></b>
                    </div>
                    <!--div id="chart">
                        <apx-chart [series]="chartOptionsCurvSKU.series"
                                    [chart]="chartOptionsCurvSKU.chart"
                                     [labels]="chartOptionsCurvSKU.labels"
                                    [responsive]="chartOptionsCurvSKU.responsive"></apx-chart>
                    </div-->

                    <apx-chart
                    class="flex flex-auto items-center justify-center w-full h-full"
                    [chart]="chartOptionsDisponibilidadeSKU.chart"
                    [colors]="chartOptionsDisponibilidadeSKU.colors"
                    [labels]="chartOptionsDisponibilidadeSKU.labels"
                    [plotOptions]="chartOptionsDisponibilidadeSKU.plotOptions"
                    [series]="chartOptionsDisponibilidadeSKU.series"
                    [states]="chartOptionsDisponibilidadeSKU.states"
                    [tooltip]="chartOptionsDisponibilidadeSKU.tooltip"
                    [dataLabels]="chartOptionsDisponibilidadeSKU.dataLabels"
                    [legend]="chartOptionsDisponibilidadeSKU.legend"
                ></apx-chart>

                </div>

                <div class="relative flex flex-col bg-card  w-full shadow rounded-2xl  mt-1 gap-1">

                    <div class="">
                        <b> <mat-label> Disponibilidade Cód Agrupador</mat-label></b>
                    </div>


                    <apx-chart
                    class="flex flex-auto items-center justify-center w-full h-full"
                    [chart]="chartOptionsDisponibilidadeAgrupador.chart"
                    [colors]="chartOptionsDisponibilidadeAgrupador.colors"
                    [labels]="chartOptionsDisponibilidadeAgrupador.labels"
                    [plotOptions]="chartOptionsDisponibilidadeAgrupador.plotOptions"
                    [series]="chartOptionsDisponibilidadeAgrupador.series"
                    [states]="chartOptionsDisponibilidadeAgrupador.states"
                    [tooltip]="chartOptionsDisponibilidadeAgrupador.tooltip"
                    [dataLabels]="chartOptionsDisponibilidadeAgrupador.dataLabels"
                    [legend]="chartOptionsDisponibilidadeSKU.legend"
                ></apx-chart>

                </div>




            </div>






            <div class= "">

            <div class="relative flex flex-col bg-card  w-full shadow rounded-2xl  mt-2 overflow-y-auto h-100">
                <div class="relative">
                    <b><mat-label>Estoque por Fornecedores</mat-label></b>


                </div >
                <div>
                    <apx-chart [series]="chartOptionsFor.series"
                        [chart]="chartOptionsFor.chart"
                        [dataLabels]="chartOptionsFor.dataLabels"
                        [plotOptions]="chartOptionsFor.plotOptions"
                        [yaxis]="chartOptionsFor.yaxis"
                        [xaxis]="chartOptionsFor.xaxis"
                        [stroke]="chartOptionsFor.stroke"
                        [grid]="chartOptionsFor.grid"
                        [fill]="chartOptionsFor.fill"
                        [tooltip]="chartOptionsFor.tooltip"
                        ></apx-chart>


                    </div>

                </div>
                <div class="relative flex bg-card mt-25">

                </div>
            </div>





        </div>
    </div>
