div.cabecalho-filtro {
    background: rgb(75, 75, 75);
    background: linear-gradient(
        0deg,
        rgba(75, 75, 75, 1) 0%,
        rgba(82, 82, 82, 1) 12%,
        rgba(82, 82, 82, 1) 86%,
        rgba(75, 75, 75, 1) 100%
    );
    filter: drop-shadow(0 0.4rem 0.7rem #00000065);
    border-radius: 15px;
}

.cabecalho-filtro div.mat-mdc-form-field-flex {
    /* Cor dos campos do filtros   */
    background-color: rgb(179, 179, 179);
    filter: drop-shadow(0 0.4rem 0.7rem #00000065);
    cursor: pointer;
}

.cabecalho-filtro svg.mat-datepicker-toggle-default-icon {
    color: #525252;
}

.cabecalho-filtro .logo-filter {
    width: 4rem;
    height: 4rem;
}

.cabecalho-filtro .apply-button {
    filter: drop-shadow(0 0.4rem 0.7rem #00000065);
    transition: filter 150ms;
}

.cabecalho-filtro .apply-button:hover {
    filter: drop-shadow(0 0 0.2rem #d8790c59);
}

.select-all-companies .mat-pseudo-checkbox {
    display: none;
}

#mat-select-0-panel .select-all-companies,
#mat-select-2-panel .select-all-companies {
    min-height: 25px;
    border-bottom: 1px solid #e2e2e2;
    padding-bottom: 5px;
}

.sellers-search-container {
    width: 100%;
    height: 2rem;
    margin-bottom: 0.5rem;
}
.sellers-search-input {
    border: 1px solid #ccc;
    height: 1.8rem;
    border-radius: 4px;
    width: 90%;
    padding: 0 0.5rem 0 0.5rem;
    margin-bottom: 0.5rem;
}
.sellers-search-input:focus {
    border: 1px solid #d97706;
}
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    display: inline-block;
    white-space: nowrap;
    /* width: 120px; */
    opacity: 0.5;
    background-color: black;
    color: #fff;
    text-align: center;
    font-size: 12px;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -45px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 0.5;
}

.form-field-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px; /* Optional: Add some vertical spacing between form fields */
}

.sticky-header {
    position: sticky;
    top: 0;
    z-index: 1;
}
