<div class="flex flex-col flex-auto w-full">
    <div class="flex flex-wrap w-full max-w-screen-xl mx-auto p-6 md:p-8">
        <!-- Title and action buttons -->
        <div class="flex items-center justify-between w-full">
            <div>
                <div class="text-3xl font-semibold tracking-tight leading-8">
                    ROL
                </div>
                <div class="font-medium tracking-tight text-secondary">
                    Filiais E5
                </div>
            </div>
        </div>

        <!-- Rol vs. Rol realizada -->
        <div
            class="flex flex-col flex-auto mt-8 bg-card shadow rounded-2xl overflow-hidden"
        >
            <div class="flex items-start justify-between m-6 mb-0">
                <div
                    class="text-lg font-medium tracking-tight leading-6 truncate"
                >
                    ROL vs. ROL realizada
                </div>
                <div class="ml-2">
                    <button
                        class="h-6 min-h-6 px-2 rounded-full bg-hover"
                        mat-button
                        [matMenuTriggerFor]="conversionMenu"
                    >
                        <span class="font-medium text-sm text-secondary"
                            >30 dias</span
                        >
                    </button>
                    <mat-menu #conversionMenu="matMenu">
                        <button mat-menu-item>30 dias</button>
                        <button mat-menu-item>3 meses</button>
                        <button mat-menu-item>9 meses</button>
                    </mat-menu>
                </div>
            </div>
            <div class="flex items-start mt-6 mx-6">
                <div class="grid grid-cols-1 sm:grid-cols-3 gap-8 sm:gap-12">
                    <!-- <div class="flex flex-col">
                        <div class="flex items-center">
                            <div class="font-medium text-secondary leading-5">
                                Overall Score
                            </div>
                            <mat-icon
                                class="ml-1.5 icon-size-4 text-hint"
                                [svgIcon]="'heroicons_solid:information-circle'"
                                [matTooltip]="
                                    'Score is calculated by using the historical ratio between Page Views and Visitors. Best score is 1000, worst score is 0.'
                                "
                            ></mat-icon>
                        </div>
                        <div class="flex items-start mt-2">
                            <div
                                class="text-4xl font-bold tracking-tight leading-none"
                            >
                                {{ data.visitorsVsPageViews.overallScore }}
                            </div>
                        </div>
                    </div> -->
                    <!-- <div class="flex flex-col">
                        <div class="flex items-center">
                            <div class="font-medium text-secondary leading-5">
                                ROL realizada
                            </div>
                        </div>
                        <div class="flex items-start mt-2">
                            <div
                                class="text-4xl font-bold tracking-tight leading-none"
                            >
                                {{
                                    data.visitorsVsPageViews.averageRatio
                                        | number : "1.0-0"
                                }}%
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>

            <div class="flex flex-col flex-auto h-80 mt-3">
                <apx-chart
                    class="flex-auto w-full h-full"
                    [chart]="chartVisitorsVsPageViews.chart"
                    [colors]="chartVisitorsVsPageViews.colors"
                    [dataLabels]="chartVisitorsVsPageViews.dataLabels"
                    [grid]="chartVisitorsVsPageViews.grid"
                    [legend]="chartVisitorsVsPageViews.legend"
                    [series]="chartVisitorsVsPageViews.series"
                    [stroke]="chartVisitorsVsPageViews.stroke"
                    [tooltip]="chartVisitorsVsPageViews.tooltip"
                    [xaxis]="chartVisitorsVsPageViews.xaxis"
                    [yaxis]="chartVisitorsVsPageViews.yaxis"
                ></apx-chart>
            </div>
        </div>
        <div
            class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8 w-full mt-6 md:mt-8"
        >
            <!-- ROL vs. Meta -->
            <div
                class="flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden p-6"
            >
                <div class="flex items-start justify-between">
                    <div
                        class="text-lg font-medium tracking-tight leading-6 truncate"
                    >
                        ROL vs. Meta
                    </div>
                    <div class="ml-2">
                        <button
                            class="h-6 min-h-6 px-2 rounded-full bg-hover"
                            mat-button
                            [matMenuTriggerFor]="conversionMenu"
                        >
                            <span class="font-medium text-sm text-secondary"
                                >30 dias</span
                            >
                        </button>
                        <mat-menu #conversionMenu="matMenu">
                            <button mat-menu-item>30 dias</button>
                            <button mat-menu-item>3 meses</button>
                            <button mat-menu-item>9 meses</button>
                        </mat-menu>
                    </div>
                </div>
                <div class="flex flex-col flex-auto mt-6 h-44">
                    <apx-chart
                        class="flex flex-auto items-center justify-center w-full h-full"
                        [chart]="chartNewVsReturning.chart"
                        [colors]="chartNewVsReturning.colors"
                        [labels]="chartNewVsReturning.labels"
                        [plotOptions]="chartNewVsReturning.plotOptions"
                        [series]="chartNewVsReturning.series"
                        [states]="chartNewVsReturning.states"
                        [tooltip]="chartNewVsReturning.tooltip"
                    ></apx-chart>
                </div>
                <div class="mt-8">
                    <div class="-my-3 divide-y">
                        <ng-container
                            *ngFor="
                                let dataset of data.newVsReturning.series;
                                let i = index
                            "
                        >
                            <div class="grid grid-cols-2 py-2">
                                <div class="flex items-center">
                                    <div
                                        class="flex-0 w-2 h-2 rounded-full"
                                        [style.backgroundColor]="
                                            chartNewVsReturning.colors[i]
                                        "
                                    ></div>
                                    <div class="ml-3 truncate">
                                        {{ data.newVsReturning.labels[i] }}
                                    </div>
                                </div>
                                <div class="font-medium text-right">
                                    {{
                                        (data.newVsReturning.uniqueVisitors *
                                            dataset) /
                                            100 | number : "1.0-0"
                                    }}
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
            <!-- Metas atingidas -->
            <div
                class="flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden p-6"
            >
                <div class="flex items-start justify-between">
                    <div
                        class="text-lg font-medium tracking-tight leading-6 truncate"
                    >
                        Metas Atingidas
                    </div>
                    <!-- <div class="ml-2">
                        <button
                            class="h-6 min-h-6 px-2 rounded-full bg-hover"
                            mat-button
                            [matMenuTriggerFor]="conversionMenu"
                        >
                            <span class="font-medium text-sm text-secondary"
                                >30 days</span
                            >
                        </button>
                        <mat-menu #conversionMenu="matMenu">
                            <button mat-menu-item>30 days</button>
                            <button mat-menu-item>3 months</button>
                            <button mat-menu-item>9 months</button>
                        </mat-menu>
                    </div> -->
                </div>
                <div class="flex flex-col flex-auto mt-6 h-44">
                    <apx-chart
                        class="flex flex-auto items-center justify-center w-full h-full"
                        [chart]="chartGender.chart"
                        [colors]="chartGender.colors"
                        [labels]="chartGender.labels"
                        [plotOptions]="chartGender.plotOptions"
                        [series]="chartGender.series"
                        [states]="chartGender.states"
                        [tooltip]="chartGender.tooltip"
                    ></apx-chart>
                </div>
                <div class="mt-8">
                    <div class="-my-3 divide-y">
                        <ng-container
                            *ngFor="
                                let dataset of data.gender.series;
                                let i = index
                            "
                        >
                            <div class="grid grid-cols-2 py-2">
                                <div class="flex items-center">
                                    <div
                                        class="flex-0 w-2 h-2 rounded-full"
                                        [style.backgroundColor]="
                                            chartGender.colors[i]
                                        "
                                    ></div>
                                    <div class="ml-3 truncate">
                                        {{ data.gender.labels[i] }}
                                    </div>
                                </div>
                                <div class="font-medium text-right">
                                    {{
                                        (data.gender.uniqueVisitors * dataset) /
                                            100 | number : "1.0-0"
                                    }}
                                </div>
                                <!-- <div class="text-right text-secondary">
                                    {{ dataset }}%
                                </div> -->
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
            <!-- Dias úteis -->
            <div
                class="flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden p-6"
            >
                <div class="flex items-start justify-between">
                    <div
                        class="text-lg font-medium tracking-tight leading-6 truncate"
                    >
                        Dias úteis
                    </div>
                    <!-- <div class="ml-2">
                        <button
                            class="h-6 min-h-6 px-2 rounded-full bg-hover"
                            mat-button
                            [matMenuTriggerFor]="conversionMenu"
                        >
                            <span class="font-medium text-sm text-secondary"
                                >30 days</span
                            >
                        </button>
                        <mat-menu #conversionMenu="matMenu">
                            <button mat-menu-item>30 days</button>
                            <button mat-menu-item>3 months</button>
                            <button mat-menu-item>9 months</button>
                        </mat-menu>
                    </div> -->
                </div>
                <div class="flex flex-col flex-auto mt-6 h-44">
                    <apx-chart
                        class="flex flex-auto items-center justify-center w-full h-full"
                        [chart]="chartAge.chart"
                        [colors]="chartAge.colors"
                        [labels]="chartAge.labels"
                        [plotOptions]="chartAge.plotOptions"
                        [series]="chartAge.series"
                        [states]="chartAge.states"
                        [tooltip]="chartAge.tooltip"
                    ></apx-chart>
                </div>
                <div class="mt-8">
                    <div class="-my-3 divide-y">
                        <ng-container
                            *ngFor="
                                let dataset of data.age.series;
                                let i = index
                            "
                        >
                            <div class="grid grid-cols-2 py-2">
                                <div class="flex items-center">
                                    <div
                                        class="flex-0 w-2 h-2 rounded-full"
                                        [style.backgroundColor]="
                                            chartAge.colors[i]
                                        "
                                    ></div>
                                    <div class="ml-3 truncate">
                                        {{ data.age.labels[i] }}
                                    </div>
                                </div>
                                <div class="font-medium text-right">
                                    {{
                                        (data.age.uniqueVisitors * dataset) /
                                            100 | number : "1.0-0"
                                    }}
                                </div>
                                <!-- <div class="text-right text-secondary">
                                    {{ dataset }}%
                                </div> -->
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
            <!-- Previous statement -->
            <div
                class="relative flex flex-col flex-auto p-6 pr-3 pb-3 bg-card rounded-2xl shadow overflow-hidden"
            >
                <div class="absolute bottom-0 right-0 w-24 h-24 -m-6">
                    <mat-icon
                        class="icon-size-24 opacity-25 text-green-500 dark:text-green-400"
                        [svgIcon]="'heroicons_outline:check-circle'"
                    ></mat-icon>
                </div>
                <div class="flex items-center">
                    <div class="flex flex-col">
                        <div
                            class="text-lg font-medium tracking-tight leading-6 truncate"
                        >
                            Indicadores ROL
                        </div>
                        <!-- <div class="text-green-600 font-medium text-sm">
                            Paid on {{ data.previousStatement.date }}
                        </div> -->
                    </div>
                    <!-- <div class="ml-auto -mt-2">
                        <button
                            mat-icon-button
                            [matMenuTriggerFor]="previousStatementMenu"
                        >
                            <mat-icon
                                class="icon-size-5"
                                [svgIcon]="'heroicons_solid:dots-vertical'"
                            ></mat-icon>
                        </button>
                        <mat-menu #previousStatementMenu="matMenu">
                            <button mat-menu-item>
                                <span class="flex items-center">
                                    <mat-icon
                                        class="icon-size-5 mr-3"
                                        [svgIcon]="
                                            'heroicons_solid:credit-card'
                                        "
                                    ></mat-icon>
                                    <span>View statement</span>
                                </span>
                            </button>
                            <button mat-menu-item>
                                <span class="flex items-center">
                                    <mat-icon
                                        class="icon-size-5 mr-3"
                                        [svgIcon]="'heroicons_solid:cash'"
                                    ></mat-icon>
                                    <span>Spending breakdown</span>
                                </span>
                            </button>
                            <button mat-menu-item>
                                <span class="flex items-center">
                                    <mat-icon
                                        class="icon-size-5 mr-3"
                                        [svgIcon]="
                                            'heroicons_solid:receipt-tax'
                                        "
                                    ></mat-icon>
                                    <span>Tax breakdown</span>
                                </span>
                            </button>
                            <mat-divider class="my-2"></mat-divider>
                            <button mat-menu-item>
                                <span class="flex items-center">
                                    <mat-icon
                                        class="icon-size-5 mr-3"
                                        [svgIcon]="'heroicons_solid:printer'"
                                    ></mat-icon>
                                    <span>Print statement</span>
                                </span>
                            </button>
                            <button mat-menu-item>
                                <span class="flex items-center">
                                    <mat-icon
                                        class="icon-size-5 mr-3"
                                        [svgIcon]="'heroicons_solid:mail'"
                                    ></mat-icon>
                                    <span>Email statement</span>
                                </span>
                            </button>
                        </mat-menu>
                    </div> -->
                </div>
                <div class="flex flex-row flex-wrap mt-4 -mx-6">
                    <div class="flex flex-col mx-6 my-3">
                        <div
                            class="text-sm font-medium leading-none text-secondary"
                        >
                            MÁX
                        </div>
                        <div class="mt-2 font-medium text-3xl leading-none">
                            {{
                                data.previousStatement.limit | currency : "USD"
                            }}
                        </div>
                    </div>
                    <div class="flex flex-col mx-6 my-3">
                        <div
                            class="text-sm font-medium leading-none text-secondary"
                        >
                            MÍN
                        </div>
                        <div class="mt-2 font-medium text-3xl leading-none">
                            {{
                                data.previousStatement.spent | currency : "USD"
                            }}
                        </div>
                    </div>
                    <div class="flex flex-col mx-6 my-3">
                        <div
                            class="text-sm font-medium leading-none text-secondary"
                        >
                            Média
                        </div>
                        <div class="mt-2 font-medium text-3xl leading-none">
                            {{
                                data.previousStatement.minimum
                                    | currency : "USD"
                            }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid grid-cols-2 xl:grid-cols-3 gap-8 w-full mt-8">
            <!-- Ranking - ROL table -->
            <div
                class="xl:col-span-2 flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden"
            >
                <div class="p-6">
                    <div
                        class="mr-4 text-lg font-medium tracking-tight leading-6 truncate"
                    >
                        Ranking - ROL
                    </div>
                    <!-- <div class="text-secondary font-medium">
                        1 pending, 4 completed
                    </div> -->
                </div>
                <div class="overflow-x-auto mx-6">
                    <table
                        class="w-full bg-transparent"
                        mat-table
                        matSort
                        [dataSource]="recentTransactionsDataSource"
                        [trackBy]="trackByFn"
                        #recentTransactionsTable
                    >
                        <!-- Posição-->
                        <ng-container matColumnDef="transactionId">
                            <th
                                mat-header-cell
                                mat-sort-header
                                *matHeaderCellDef
                            >
                                Posição
                            </th>
                            <td mat-cell *matCellDef="let transaction">
                                <span
                                    class="pr-6 font-medium text-sm text-secondary whitespace-nowrap"
                                >
                                    {{ transaction.transactionId }}
                                </span>
                            </td>
                        </ng-container>

                        <!-- Filial -->
                        <ng-container matColumnDef="date">
                            <th
                                mat-header-cell
                                mat-sort-header
                                *matHeaderCellDef
                            >
                                Filial
                            </th>
                            <td mat-cell *matCellDef="let transaction">
                                <span class="pr-6 whitespace-nowrap">
                                    {{ transaction.date | date : "MMM dd, y" }}
                                </span>
                            </td>
                        </ng-container>

                        <!-- Consultor -->
                        <ng-container matColumnDef="name">
                            <th
                                mat-header-cell
                                mat-sort-header
                                *matHeaderCellDef
                            >
                                Consultor
                            </th>
                            <td mat-cell *matCellDef="let transaction">
                                <span class="pr-6 whitespace-nowrap">
                                    {{ transaction.name }}
                                </span>
                            </td>
                        </ng-container>

                        <!-- ROL -->
                        <ng-container matColumnDef="amount">
                            <th
                                mat-header-cell
                                mat-sort-header
                                *matHeaderCellDef
                            >
                                ROL
                            </th>
                            <td mat-cell *matCellDef="let transaction">
                                <span
                                    class="pr-6 font-medium whitespace-nowrap"
                                >
                                    {{ transaction.amount | currency : "USD" }}
                                </span>
                            </td>
                        </ng-container>

                        <!-- Status -->
                        <ng-container matColumnDef="status">
                            <th
                                mat-header-cell
                                mat-sort-header
                                *matHeaderCellDef
                            >
                                Status
                            </th>
                            <td mat-cell *matCellDef="let transaction">
                                <span
                                    class="inline-flex items-center font-bold text-xs px-2.5 py-0.5 rounded-full tracking-wide uppercase"
                                    [ngClass]="{
                                        'bg-red-200 text-red-800 dark:bg-red-600 dark:text-red-50':
                                            transaction.status === 'pending',
                                        'bg-green-200 text-green-800 dark:bg-green-600 dark:text-green-50':
                                            transaction.status === 'completed'
                                    }"
                                >
                                    <span
                                        class="leading-relaxed whitespace-nowrap"
                                        >{{ transaction.status }}</span
                                    >
                                </span>
                            </td>
                        </ng-container>

                        <!-- Footer -->
                        <ng-container matColumnDef="recentOrdersTableFooter">
                            <td
                                class="py-6 px-0 border-0"
                                mat-footer-cell
                                *matFooterCellDef
                                colspan="6"
                            >
                                <!-- <button mat-stroked-button>
                                    See all transactions
                                </button> -->
                            </td>
                        </ng-container>

                        <tr
                            mat-header-row
                            *matHeaderRowDef="recentTransactionsTableColumns"
                        ></tr>
                        <tr
                            class="order-row h-16"
                            mat-row
                            *matRowDef="
                                let row;
                                columns: recentTransactionsTableColumns
                            "
                        ></tr>
                        <tr
                            class="h-16 border-0"
                            mat-footer-row
                            *matFooterRowDef="['recentOrdersTableFooter']"
                        ></tr>
                    </table>
                </div>
            </div>
            <!-- Ranking - Metas table -->
            <div
                class="xl:col-span-2 flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden"
            >
                <div class="p-6">
                    <div
                        class="mr-4 text-lg font-medium tracking-tight leading-6 truncate"
                    >
                        Ranking - Metas
                    </div>
                    <!-- <div class="text-secondary font-medium">
                        1 pending, 4 completed
                    </div> -->
                </div>
                <div class="overflow-x-auto mx-6">
                    <table
                        class="w-full bg-transparent"
                        mat-table
                        matSort
                        [dataSource]="recentTransactionsDataSource"
                        [trackBy]="trackByFn"
                        #recentTransactionsTable
                    >
                        <!-- Posição-->
                        <ng-container matColumnDef="transactionId">
                            <th
                                mat-header-cell
                                mat-sort-header
                                *matHeaderCellDef
                            >
                                Posição
                            </th>
                            <td mat-cell *matCellDef="let transaction">
                                <span
                                    class="pr-6 font-medium text-sm text-secondary whitespace-nowrap"
                                >
                                    {{ transaction.transactionId }}
                                </span>
                            </td>
                        </ng-container>

                        <!-- Filial -->
                        <ng-container matColumnDef="date">
                            <th
                                mat-header-cell
                                mat-sort-header
                                *matHeaderCellDef
                            >
                                Filial
                            </th>
                            <td mat-cell *matCellDef="let transaction">
                                <span class="pr-6 whitespace-nowrap">
                                    {{ transaction.date | date : "MMM dd, y" }}
                                </span>
                            </td>
                        </ng-container>

                        <!-- Consultor -->
                        <ng-container matColumnDef="name">
                            <th
                                mat-header-cell
                                mat-sort-header
                                *matHeaderCellDef
                            >
                                Consultor
                            </th>
                            <td mat-cell *matCellDef="let transaction">
                                <span class="pr-6 whitespace-nowrap">
                                    {{ transaction.name }}
                                </span>
                            </td>
                        </ng-container>

                        <!-- Metas -->
                        <ng-container matColumnDef="amount">
                            <th
                                mat-header-cell
                                mat-sort-header
                                *matHeaderCellDef
                            >
                                Metas Atingidas
                            </th>
                            <td mat-cell *matCellDef="let transaction">
                                <span
                                    class="pr-6 font-medium whitespace-nowrap"
                                >
                                    {{ transaction.amount | currency : "USD" }}
                                </span>
                            </td>
                        </ng-container>

                        <!-- Status -->
                        <ng-container matColumnDef="status">
                            <th
                                mat-header-cell
                                mat-sort-header
                                *matHeaderCellDef
                            >
                                Status
                            </th>
                            <td mat-cell *matCellDef="let transaction">
                                <span
                                    class="inline-flex items-center font-bold text-xs px-2.5 py-0.5 rounded-full tracking-wide uppercase"
                                    [ngClass]="{
                                        'bg-red-200 text-red-800 dark:bg-red-600 dark:text-red-50':
                                            transaction.status === 'pending',
                                        'bg-green-200 text-green-800 dark:bg-green-600 dark:text-green-50':
                                            transaction.status === 'completed'
                                    }"
                                >
                                    <span
                                        class="leading-relaxed whitespace-nowrap"
                                        >{{ transaction.status }}</span
                                    >
                                </span>
                            </td>
                        </ng-container>

                        <!-- Footer -->
                        <ng-container matColumnDef="recentOrdersTableFooter">
                            <td
                                class="py-6 px-0 border-0"
                                mat-footer-cell
                                *matFooterCellDef
                                colspan="6"
                            >
                                <!-- <button mat-stroked-button>
                                    See all transactions
                                </button> -->
                            </td>
                        </ng-container>

                        <tr
                            mat-header-row
                            *matHeaderRowDef="recentTransactionsTableColumns"
                        ></tr>
                        <tr
                            class="order-row h-16"
                            mat-row
                            *matRowDef="
                                let row;
                                columns: recentTransactionsTableColumns
                            "
                        ></tr>
                        <tr
                            class="h-16 border-0"
                            mat-footer-row
                            *matFooterRowDef="['recentOrdersTableFooter']"
                        ></tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
