// #chart {
//     max-width: 900px !important;
//     
// }

.label-m-0{
    margin: 0px 0px 0px 0px !important;
}

.label-p-0{
    padding: 0px 0px 0px 0px !important;
}

.label-text-align{
    text-align: top !important;
}
  