<!--The content below is only a placeholder and can be replaced.-->
<div id="chart" class="h-60 w-full" >
    <apx-chart class="grid h-60 w-12/12 rounded-2xl mr-2" style="background-color: white;"
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [yaxis]="chartOptions.yaxis"
      [xaxis]="chartOptions.xaxis"
      [dataLabels]="chartOptions.dataLabels"
      [grid]="chartOptions.grid"
      [stroke]="chartOptions.stroke"
      [title]="chartOptions.title"
      [responsive]="chartOptions.responsive"
    ></apx-chart>
  </div>