<div class="w-full ">
    <div class="{{margin}}">
        <div class="a w-full h-14 rounded-full border border-solid" (click)="onClickLicenca()">
            <p class="pa mt-3 text-ellipsis overflow-hidden">Licenças Embratel</p>
        </div>
        <div class="a w-full h-14 rounded-full border border-solid" (click)="onClickRepositorio()">
            <p class="pa mt-3 text-ellipsis overflow-hidden">Repositório</p>
        </div>
        <div class="b w-full h-14 rounded-full border border-solid" (click)="onClickGrafana()">
            <p class="pb mt-3 text-ellipsis overflow-hidden">Grafana</p>
        </div>
        <div class="b w-full h-14 rounded-full border border-solid" (click)="onClickZabbix()">
            <p class="pb mt-3 text-ellipsis overflow-hidden">Zabbix</p>
        </div>
        <div class="a w-full h-14 rounded-full border border-solid" (click)="onClickFortclient()">
            <p class="pa mt-3 text-ellipsis overflow-hidden">Fortclient Endpoint</p>
        </div>
        <div class="a w-full h-14 rounded-full border border-solid" (click)="onClickOracle()">
            <p class="pa mt-3 text-ellipsis overflow-hidden">Oracle Cloud</p>
        </div>
    </div>
</div>
