<div class="flex-col w-full overflow-y-hidden pl-1 pr-1">
    <div class="flex flex-grow w-full justify-end">
        <mat-slide-toggle class="pt-1" [(ngModel)]="isToggleOn">
            {{ isToggleOn ? "Ocultar filtros" : "Mostrar filtros" }}
        </mat-slide-toggle>
    </div>
    <div class="w-full">
        <div
            class="flex flex-col md:flex-row lg:flex-row xl:flex-row 2xl:flex-auto items-center pt-6 pl-6 pr-6 justify-center w-full cabecalho-filtro h-full"
            *ngIf="isToggleOn"
        >
            <div class="flex flex-auto">
                <img
                    class="mr-3 logo-filter lg:block"
                    src="assets/images/logo/Logo-Rede-JS-Pecas_7.png"
                    alt=""
                />
                <div class="flex flex-col">
                    <div
                        class="text-3xl font-semibold tracking-tight leading-8"
                        style="color: #fff"
                    >
                        {{ titulo }}
                    </div>

                    <div class="font-medium tracking-tight" style="color: #fff">
                        {{ subTitulo }}
                    </div>
                </div>
            </div>

            <div class="flex items-start ml-15">
                <!-- Filtros Filial -->
                <mat-form-field
                    class="hidden sm:inline-flex ml-3"
                    style="width: 150px"
                    (click)="handleCompaniesFilterClick(dataInicio, dataFinal)"
                >
                    <mat-label style="font-size: 12px; color: #fff"
                        >Filial</mat-label
                    >
                    <mat-select
                        class="my-custom-class"
                        style="font-size: 12px"
                        [formControl]="filiais"
                        multiple
                    >
                        <mat-option
                            class="select-all-companies"
                            style="font-size: 12px"
                            [value]="'-1'"
                            (click)="selectAllCompanies()"
                            >{{
                                allCompaniesSelected
                                    ? "Desmarcar Todos"
                                    : "Marcar Todos"
                            }}</mat-option
                        >

                        <mat-option
                            style="font-size: 12px"
                            *ngFor="
                                let filial of filiaisStringList;
                                let i = index
                            "
                            [value]="filiaisObjects[i].id.toString()"
                            (click)="
                                handleCompanyFilterSelect(filiaisObjects[i].id)
                            "
                            >{{ filial }}</mat-option
                        >
                    </mat-select>
                </mat-form-field>

                <!-- Filtro Vendedor -->
                <mat-form-field
                    class="hidden sm:inline-flex ml-3"
                    style="width: 150px"
                    (click)="handleSellersFilterClick(dataInicio, dataFinal)"
                >
                    <mat-label style="font-size: 12px; color: #fff"
                        >Vendedor</mat-label
                    >
                    <mat-select
                        style="font-size: 12px"
                        [formControl]="vendedores"
                        multiple
                    >
                        <div
                            class="sellers-search-container flex justify-center"
                        >
                            <input
                                class="sellers-search-input"
                                type="text"
                                placeholder="Buscar..."
                                [formControl]="sellersSearchInput"
                                (input)="onInput($event.target.value)"
                            />
                        </div>

                        <mat-option
                            class="select-all-companies"
                            style="font-size: 12px"
                            [value]="'-1'"
                            (click)="selectAllSellers()"
                            >{{
                                allSellersSelected
                                    ? "Desmarcar Todos"
                                    : "Marcar Todos"
                            }}
                        </mat-option>

                        <mat-option
                            style="font-size: 12px"
                            *ngFor="
                                let vendedor of filteredVendedoresStringList;
                                let i = index
                            "
                            [value]="filteredVendedoresObjects[i].id.toString()"
                            (click)="
                                handleSellersFilterSelect(
                                    filteredVendedoresObjects[i].id
                                )
                            "
                            >{{ vendedor }}</mat-option
                        >
                    </mat-select>
                </mat-form-field>

                <!--Filtro Data-->

                <mat-form-field
                    class="hidden sm:inline-flex ml-3"
                    style="width: 150px"
                >
                    <mat-label style="font-size: 12px; color: #fff"
                        >Data Inicial
                        <input
                            type="checkbox"
                            [(ngModel)]="isChecked"
                            style="margin-left: 1rem"
                            (change)="resetDateInputs()"
                        />
                        Mensal</mat-label
                    >
                    <input
                        class="cursor-pointer"
                        style="font-size: 15px"
                        matInput
                        [formControl]="start"
                        [matDatepicker]="picker"
                        (click)="handleDatePickerClick($event, pickerToggle)"
                        (dateInput)="addEventBegin($event)"
                        readonly
                    />

                    <!-- <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint> -->
                    <mat-datepicker-toggle
                        #pickerToggle
                        matIconSuffix
                        [for]="picker"
                    ></mat-datepicker-toggle>

                    <mat-datepicker
                        #picker
                        [startView]="isChecked ? 'year' : 'month'"
                        (monthSelected)="
                            isChecked ? setInitialMY($event, picker) : undefined
                        "
                    ></mat-datepicker>
                </mat-form-field>

                <mat-form-field
                    class="hidden sm:inline-flex ml-3"
                    style="width: 150px"
                >
                    <mat-label style="font-size: 12px; color: #fff"
                        >Data Final
                    </mat-label>

                    <input
                        class="cursor-pointer"
                        style="font-size: 15px"
                        matInput
                        [formControl]="end"
                        [matDatepicker]="pickerFinal"
                        (click)="
                            handleDatePickerClick($event, pickerToggleFinal)
                        "
                        (dateInput)="addEventEnd($event)"
                        readonly
                        [min]="start.value ? start.value : today"
                    />

                    <!-- <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint> -->
                    <mat-datepicker-toggle
                        #pickerToggleFinal
                        matIconSuffix
                        [for]="pickerFinal"
                    ></mat-datepicker-toggle>

                    <mat-datepicker
                        #pickerFinal
                        [startView]="isChecked ? 'year' : 'month'"
                        (monthSelected)="
                            isChecked
                                ? setFinalMY($event, pickerFinal)
                                : undefined
                        "
                    ></mat-datepicker>
                    <!-- <mat-error
                            *ngIf="
                                convDataIni &&
                                convDataFin &&
                                convDataFin < convDataIni
                            "
                            >Data final inválida</mat-error
                        > -->
                </mat-form-field>
                <div class="pt-7">
                    <button
                        class="hidden sm:inline-flex ml-5 apply-button"
                        style="width: 120px"
                        mat-flat-button
                        [color]="'primary'"
                        (click)="
                            handleApplyFilter(
                                dataInicio,
                                dataFinal,
                                filiais.value,
                                vendedores.value
                            )
                        "
                    >
                        <span style="font-size: 12px">Aplicar</span>
                    </button>
                </div>
            </div>
        </div>

        <div class="relative w-full max-w-screen-xl mx-auto">
            <!-- Tabs -->
            <mat-tab-group
                class="sm:px-2"
                mat-stretch-tabs="false"
                [animationDuration]="'0'"
            >
                <!-- CC -->
                <mat-tab label="Clientes Compradores">
                    <ng-template matTabContent>
                        <div
                            class="flex w-full max-w-screen-xl mx-auto md:pt-1 pb-1"
                        >
                            <div class="grid h-120 grid-rows-2 flex-auto gap-1">
                                <div
                                    class="relative flex flex-auto bg-card shadow rounded-2xl overflow-hidden p-3 mr-1"
                                >
                                    <div
                                        class="absolute bottom-0 right-0 w-24 h-24 -m-6"
                                    >
                                        <mat-icon
                                            class="icon-size-24 opacity-25 text-green-500 dark:text-green-400"
                                            [svgIcon]="
                                                'heroicons_outline:check-circle'
                                            "
                                        ></mat-icon>
                                    </div>
                                    <div class="flex items-center">
                                        <div class="absolute top-2 left-2">
                                            <div
                                                class="text-lg font-bold tracking-tight leading-6 truncate"
                                            >
                                                CC
                                            </div>
                                        </div>
                                    </div>
                                    <div
                                        class="flex flex-col flex-wrap mt-4 p-1"
                                    >
                                        <div class="flex flex-col mx-1 my-3">
                                            <div
                                                class="text-sm font-medium leading-none text-secondary"
                                            >
                                                Total CC
                                            </div>
                                            <div
                                                class="mt-2 font-medium text-lg leading-none tooltip"
                                            >
                                                68.000
                                            </div>
                                        </div>
                                        <div class="flex flex-col mx-1 my-3">
                                            <div
                                                class="text-sm font-medium leading-none text-secondary"
                                            >
                                                CC Realizados DC
                                            </div>
                                            <div
                                                class="mt-2 font-medium text-lg leading-none tooltip"
                                            >
                                                48.000
                                            </div>
                                        </div>
                                        <div class="flex flex-col mx-1 my-3">
                                            <div
                                                class="text-sm font-medium leading-none text-secondary"
                                            >
                                                CC Relizados FC
                                            </div>
                                            <div
                                                class="mt-2 font-medium text-lg leading-none"
                                            >
                                                2.000
                                            </div>
                                        </div>
                                        <div class="flex flex-col mx-1 my-3">
                                            <div
                                                class="text-sm font-medium leading-none text-secondary"
                                            >
                                                Total CC Realizados
                                            </div>
                                            <div
                                                class="mt-2 font-medium text-lg leading-none"
                                            >
                                                50.000
                                            </div>
                                        </div>
                                        <div class="flex flex-col mx-1 my-3">
                                            <div
                                                class="text-sm font-medium leading-none text-secondary"
                                            >
                                                Meta
                                            </div>
                                            <div
                                                class="mt-2 font-medium text-lg leading-none"
                                            >
                                                65.000
                                            </div>
                                        </div>
                                        <div class="flex flex-col mx-1 my-3">
                                            <div
                                                class="text-sm font-medium leading-none text-secondary"
                                            >
                                                GAP
                                            </div>
                                            <div
                                                class="mt-2 font-medium text-lg leading-none"
                                            >
                                                15.000
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="relative flex flex-auto bg-card shadow rounded-2xl overflow-hidden p-3 mr-1"
                                >
                                    <div
                                        class="absolute bottom-0 right-0 w-24 h-24 -m-6"
                                    >
                                        <mat-icon
                                            class="icon-size-24 opacity-25 text-green-500 dark:text-green-400"
                                            [svgIcon]="
                                                'heroicons_outline:check-circle'
                                            "
                                        ></mat-icon>
                                    </div>
                                    <div class="flex items-center">
                                        <div class="absolute top-2 left-2">
                                            <div
                                                class="text-lg font-bold tracking-tight leading-6 truncate"
                                            >
                                                CC vs. Rol
                                            </div>
                                        </div>
                                    </div>
                                    <div
                                        class="flex flex-col flex-wrap mt-4 p-1"
                                    >
                                        <div class="flex flex-col mx-1 my-3">
                                            <div
                                                class="text-sm font-medium leading-none text-secondary"
                                            >
                                                ROL
                                            </div>
                                            <div
                                                class="mt-2 font-medium text-lg leading-none tooltip"
                                            >
                                                27.800.000
                                            </div>
                                        </div>
                                        <div class="flex flex-col mx-1 my-3">
                                            <div
                                                class="text-sm font-medium leading-none text-secondary"
                                            >
                                                ROL DC
                                            </div>
                                            <div
                                                class="mt-2 font-medium text-lg leading-none tooltip"
                                            >
                                                17.000.000
                                            </div>
                                        </div>
                                        <div class="flex flex-col mx-1 my-3">
                                            <div
                                                class="text-sm font-medium leading-none text-secondary"
                                            >
                                                ROL FC
                                            </div>
                                            <div
                                                class="mt-2 font-medium text-lg leading-none"
                                            >
                                                10.800.000
                                            </div>
                                        </div>

                                        <div class="flex flex-col mx-1 my-3">
                                            <div
                                                class="text-sm font-medium leading-none text-secondary"
                                            >
                                                Meta
                                            </div>
                                            <div
                                                class="mt-2 font-medium text-lg leading-none"
                                            >
                                                29.000.000
                                            </div>
                                        </div>
                                        <div class="flex flex-col mx-1 my-3">
                                            <div
                                                class="text-sm font-medium leading-none text-secondary"
                                            >
                                                GAP
                                            </div>
                                            <div
                                                class="mt-2 font-medium text-lg leading-none"
                                            >
                                                1.200.000
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div
                                class="relative h-120 w-120 bg-card shadow rounded-2xl overflow-y-auto p-3"
                            >
                                <div
                                    class="flex items-start justify-between m-1 mb-0"
                                >
                                    <div
                                        class="text-lg font-bold tracking-tight leading-6 truncate"
                                    >
                                        Comparativo Anual
                                    </div>
                                    <div style="text-align: end">
                                        <div class="m-1">
                                            <button
                                                class="h-6 min-h-6 px-2 rounded-full bg-hover"
                                                mat-button
                                                [matMenuTriggerFor]="anualMenu"
                                            >
                                                <span
                                                    class="font-medium text-sm text-secondary"
                                                    >{{ anualIntel }}</span
                                                >
                                            </button>
                                            <mat-menu #anualMenu="matMenu">
                                                <button
                                                    mat-menu-item
                                                    *ngFor="
                                                        let intel of intelOptions
                                                    "
                                                    (click)="
                                                        onAnualIntelSelected(
                                                            intel
                                                        )
                                                    "
                                                >
                                                    {{ intel }}
                                                </button>
                                            </mat-menu>
                                        </div>
                                    </div>
                                </div>
                                <div class="pt-8">
                                    <apx-chart
                                        [series]="chartAcumulado.series"
                                        [chart]="chartAcumulado.chart"
                                        [legend]="chartAcumulado.legend"
                                        [colors]="chartAcumulado.colors"
                                        [dataLabels]="chartAcumulado.dataLabels"
                                        [plotOptions]="
                                            chartAcumulado.plotOptions
                                        "
                                        [xaxis]="chartAcumulado.xaxis"
                                    ></apx-chart>
                                </div>
                            </div>
                            <div class="grid h-120 grid-rows-2 flex-auto gap-1">
                                <div
                                    class="relative flex flex-auto bg-card shadow rounded-2xl overflow-hidden p-3 ml-1"
                                >
                                    <div
                                        class="absolute bottom-0 right-0 w-24 h-24 -m-6"
                                    >
                                        <mat-icon
                                            class="icon-size-24 opacity-25 text-green-500 dark:text-green-400"
                                            [svgIcon]="
                                                'heroicons_outline:check-circle'
                                            "
                                        ></mat-icon>
                                    </div>
                                    <div class="flex items-center">
                                        <div class="absolute top-2 left-2">
                                            <div
                                                class="text-lg font-bold tracking-tight leading-6 truncate"
                                            >
                                                Projeção CC
                                            </div>
                                        </div>
                                    </div>
                                    <div
                                        class="flex flex-col flex-wrap mt-4 p-1"
                                    >
                                        <div class="flex flex-col mx-1 my-3">
                                            <div
                                                class="text-sm font-medium leading-none text-secondary"
                                            >
                                                Potencial
                                            </div>
                                            <div
                                                class="mt-2 font-medium text-lg leading-none tooltip"
                                            >
                                                30.680.000
                                            </div>
                                        </div>
                                        <div class="flex flex-col mx-1 my-3">
                                            <div
                                                class="text-sm font-medium leading-none text-secondary"
                                            >
                                                Projeção
                                            </div>
                                            <div
                                                class="mt-2 font-medium text-lg leading-none tooltip"
                                            >
                                                28.650.000
                                            </div>
                                        </div>
                                        <div class="flex flex-col mx-1 my-3">
                                            <div
                                                class="text-sm font-medium leading-none text-secondary"
                                            >
                                                GAP
                                            </div>
                                            <div
                                                class="mt-2 font-medium text-lg leading-none"
                                            >
                                                2.030.000
                                            </div>
                                        </div>
                                        <div class="flex flex-col mx-1 my-3">
                                            <div
                                                class="text-sm font-medium leading-none text-secondary"
                                            >
                                                Projeção PF
                                            </div>
                                            <div
                                                class="mt-2 font-medium text-lg leading-none"
                                            >
                                                18.600.000
                                            </div>
                                        </div>
                                        <div class="flex flex-col mx-1 my-3">
                                            <div
                                                class="text-sm font-medium leading-none text-secondary"
                                            >
                                                Projeção PJ
                                            </div>
                                            <div
                                                class="mt-2 font-medium text-lg leading-none"
                                            >
                                                10.050.000
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="relative flex flex-auto bg-card shadow rounded-2xl overflow-hidden p-3 ml-1"
                                >
                                    <div
                                        class="absolute bottom-0 right-0 w-24 h-24 -m-6"
                                    >
                                        <mat-icon
                                            class="icon-size-24 opacity-25 text-green-500 dark:text-green-400"
                                            [svgIcon]="
                                                'heroicons_outline:check-circle'
                                            "
                                        ></mat-icon>
                                    </div>
                                    <div class="flex items-center">
                                        <div class="absolute top-2 left-2">
                                            <div
                                                class="text-lg font-bold tracking-tight leading-6 truncate"
                                            >
                                                Lucro Bruto vs. CC
                                            </div>
                                        </div>
                                    </div>
                                    <div
                                        class="flex flex-col flex-wrap mt-4 p-1"
                                    >
                                        <div class="flex flex-col mx-1 my-3">
                                            <div
                                                class="text-sm font-medium leading-none text-secondary"
                                            >
                                                Lucro Bruto
                                            </div>
                                            <div
                                                class="mt-2 font-medium text-lg leading-none tooltip"
                                            >
                                                22.270.000
                                            </div>
                                        </div>
                                        <div class="flex flex-col mx-1 my-3">
                                            <div
                                                class="text-sm font-medium leading-none text-secondary"
                                            >
                                                Lucro Bruto DC
                                            </div>
                                            <div
                                                class="mt-2 font-medium text-lg leading-none tooltip"
                                            >
                                                14.200.000
                                            </div>
                                        </div>
                                        <div class="flex flex-col mx-1 my-3">
                                            <div
                                                class="text-sm font-medium leading-none text-secondary"
                                            >
                                                Lucro Bruto FC
                                            </div>
                                            <div
                                                class="mt-2 font-medium text-lg leading-none"
                                            >
                                                8.070.000
                                            </div>
                                        </div>
                                        <div class="flex flex-col mx-1 my-3">
                                            <div
                                                class="text-sm font-medium leading-none text-secondary"
                                            >
                                                Meta
                                            </div>
                                            <div
                                                class="mt-2 font-medium text-lg leading-none"
                                            >
                                                25.000.000
                                            </div>
                                        </div>
                                        <div class="flex flex-col mx-1 my-3">
                                            <div
                                                class="text-sm font-medium leading-none text-secondary"
                                            >
                                                GAP
                                            </div>
                                            <div
                                                class="mt-2 font-medium text-lg leading-none"
                                            >
                                                2.230.000
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div
                            class="flex w-full max-w-screen-xl mx-auto md: pb-1"
                        >
                            <div
                                class="grid h-100 w-48 grid-rows-2 flex-auto gap-1"
                            >
                                <div
                                    class="relative flex w-48 bg-card shadow rounded-2xl overflow-hidden p-3 mr-1"
                                >
                                    <div
                                        class="absolute bottom-0 right-0 w-24 h-24 -m-6"
                                    >
                                        <mat-icon
                                            class="icon-size-24 opacity-25 text-green-500 dark:text-green-400"
                                            [svgIcon]="
                                                'heroicons_outline:check-circle'
                                            "
                                        ></mat-icon>
                                    </div>
                                    <div class="flex items-center">
                                        <div class="absolute top-2 left-2">
                                            <div
                                                class="text-lg font-bold tracking-tight leading-6 truncate"
                                            >
                                                Margem Bruta vs. CC
                                            </div>
                                        </div>
                                    </div>
                                    <div
                                        class="flex flex-col flex-wrap mt-4 p-1"
                                    >
                                        <div class="flex flex-col mx-1 my-2">
                                            <div
                                                class="text-sm font-medium leading-none text-secondary"
                                            >
                                                MB
                                            </div>
                                            <div
                                                class="mt-1 font-medium text-sm leading-none tooltip"
                                            >
                                                30.680.000
                                            </div>
                                        </div>
                                        <div class="flex flex-col mx-1 my-2">
                                            <div
                                                class="text-sm font-medium leading-none text-secondary"
                                            >
                                                MB DC
                                            </div>
                                            <div
                                                class="mt-1 font-medium text-sm leading-none tooltip"
                                            >
                                                28.650.000
                                            </div>
                                        </div>
                                        <div class="flex flex-col mx-1 my-2">
                                            <div
                                                class="text-sm font-medium leading-none text-secondary"
                                            >
                                                MB FC
                                            </div>
                                            <div
                                                class="mt-1 font-medium text-sm leading-none"
                                            >
                                                2.030.000
                                            </div>
                                        </div>
                                        <div class="flex flex-col mx-1 my-2">
                                            <div
                                                class="text-sm font-medium leading-none text-secondary"
                                            >
                                                Meta
                                            </div>
                                            <div
                                                class="mt-1 font-medium text-sm leading-none"
                                            >
                                                18.600.000
                                            </div>
                                        </div>
                                        <div class="flex flex-col mx-1 my-2">
                                            <div
                                                class="text-sm font-medium leading-none text-secondary"
                                            >
                                                GAP
                                            </div>
                                            <div
                                                class="mt-1 font-medium text-sm leading-none"
                                            >
                                                10.050.000
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="relative flex w-48 bg-card shadow rounded-2xl overflow-hidden p-3 mr-1"
                                >
                                    <div
                                        class="absolute bottom-0 right-0 w-24 h-24 -m-6"
                                    >
                                        <mat-icon
                                            class="icon-size-24 opacity-25 text-green-500 dark:text-green-400"
                                            [svgIcon]="
                                                'heroicons_outline:check-circle'
                                            "
                                        ></mat-icon>
                                    </div>
                                    <div class="flex items-center">
                                        <div class="absolute top-2 left-2">
                                            <div
                                                class="text-lg font-bold tracking-tight leading-6 truncate"
                                            >
                                                Cobertura de Carteira
                                            </div>
                                        </div>
                                    </div>
                                    <div
                                        class="flex flex-col flex-wrap mt-4 p-1"
                                    >
                                        <div class="flex flex-col mx-1 my-2">
                                            <div
                                                class="text-sm font-medium leading-none text-secondary"
                                            >
                                                Cobertura Total
                                            </div>
                                            <div
                                                class="mt-1 font-medium text-sm leading-none tooltip"
                                            >
                                                7.845
                                            </div>
                                        </div>
                                        <div class="flex flex-col mx-1 my-2">
                                            <div
                                                class="text-sm font-medium leading-none text-secondary"
                                            >
                                                Cobertura PJ
                                            </div>
                                            <div
                                                class="mt-1 font-medium text-sm leading-none tooltip"
                                            >
                                                4.545
                                            </div>
                                        </div>
                                        <div class="flex flex-col mx-1 my-2">
                                            <div
                                                class="text-sm font-medium leading-none text-secondary"
                                            >
                                                Cobertura PF
                                            </div>
                                            <div
                                                class="mt-1 font-medium text-sm leading-none"
                                            >
                                                3.300
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div
                                class="relative w-full bg-card shadow rounded-2xl overflow-hidden ml-1"
                            >
                                <div
                                    class="flex items-start justify-between m-6 mb-0"
                                >
                                    <div
                                        class="text-lg font-bold tracking-tight leading-6 truncate"
                                    >
                                        Indicadores Mensais (CC)
                                    </div>
                                    <div style="text-align: end">
                                        <div class="m-1">
                                            <button
                                                class="h-6 min-h-6 px-2 rounded-full bg-hover"
                                                mat-button
                                                [matMenuTriggerFor]="intelMenu"
                                            >
                                                <span
                                                    class="font-medium text-sm text-secondary"
                                                    >{{ selectedIntel }}</span
                                                >
                                            </button>
                                            <mat-menu #intelMenu="matMenu">
                                                <button
                                                    mat-menu-item
                                                    *ngFor="
                                                        let intel of intelOptions
                                                    "
                                                    (click)="
                                                        onMenuIntelSelected(
                                                            intel
                                                        )
                                                    "
                                                >
                                                    {{ intel }}
                                                </button>
                                            </mat-menu>
                                        </div>
                                        <div class="m-1">
                                            <button
                                                class="h-6 min-h-6 px-2 rounded-full bg-hover"
                                                mat-button
                                                [matMenuTriggerFor]="curveMenu"
                                            >
                                                <span
                                                    class="font-medium text-sm text-secondary"
                                                    >{{ selectedCurve }}</span
                                                >
                                            </button>
                                            <mat-menu #curveMenu="matMenu">
                                                <button
                                                    mat-menu-item
                                                    *ngFor="
                                                        let curve of curveOptions
                                                    "
                                                    (click)="
                                                        onMenuCurveSelected(
                                                            curve
                                                        )
                                                    "
                                                >
                                                    {{ curve }}
                                                </button>
                                            </mat-menu>
                                        </div>
                                        <div class="m-1">
                                            <button
                                                class="h-6 min-h-6 px-2 rounded-full bg-hover"
                                                mat-button
                                                [matMenuTriggerFor]="stateMenu"
                                            >
                                                <span
                                                    class="font-medium text-sm text-secondary"
                                                    >{{ selectedStates }}</span
                                                >
                                            </button>
                                            <mat-menu #stateMenu="matMenu">
                                                <mat-menu-item
                                                    style="
                                                        min-height: 0;
                                                        line-height: 1;
                                                        padding: 0;
                                                    "
                                                    *ngFor="
                                                        let state of stateOptions
                                                    "
                                                >
                                                    <button
                                                        class="h-6 min-h-6 px-2 rounded-full bg-hover"
                                                        [ngClass]="{
                                                            'bg-orange-400':
                                                                isSelected(
                                                                    state
                                                                ),
                                                            'bg-gray-200':
                                                                !isSelected(
                                                                    state
                                                                )
                                                        }"
                                                        mat-button
                                                        (click)="
                                                            onMenuStateSelected(
                                                                state
                                                            )
                                                        "
                                                    >
                                                        {{ state }}
                                                    </button>
                                                </mat-menu-item>
                                            </mat-menu>
                                        </div>
                                    </div>
                                </div>

                                <div class="flex flex-col flex-auto mt-3">
                                    <apx-chart
                                        [series]="chartGlobal.series"
                                        [chart]="chartGlobal.chart"
                                        [colors]="chartGlobal.colors"
                                        [yaxis]="chartGlobal.yaxis"
                                        [xaxis]="chartGlobal.xaxis"
                                        [labels]="chartGlobal.labels"
                                        [stroke]="chartGlobal.stroke"
                                        [plotOptions]="chartGlobal.plotOptions"
                                        [markers]="chartGlobal.markers"
                                        [fill]="chartGlobal.fill"
                                        [tooltip]="chartGlobal.tooltip"
                                    ></apx-chart>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </mat-tab>
                <mat-tab label="Performance Consultores">
                    <ng-template matTabContent> </ng-template>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>
