<mat-label style="font-size: 12px; color: #fff"
                        >Filial</mat-label
                    >
                    <mat-select
                        class="my-custom-class"
                        style="font-size: 12px"
                        [formControl]="filiais"
                        multiple
                    >
                        <mat-option
                            class="select-all-companies"
                            style="font-size: 12px"
                            [value]="'-1'"
                            (click)="selectAllCompanies()"
                            >{{
                                allCompaniesSelected
                                    ? "Desmarcar Todos"
                                    : "Marcar Todos"
                            }}</mat-option
                        >

                        <mat-option
                            style="font-size: 12px"
                            *ngFor="
                                let filial of filiaisStringList;
                                let i = index
                            "
                            [value]="filiaisObjects[i].id.toString()"
                            (click)="
                                handleCompanyFilterSelect(filiaisObjects[i].id)
                            "
                            >{{ filial }}</mat-option
                        >
                    </mat-select>
