
<mat-form-field appearance="fill" class="hidden sm:inline-flex ml-3 p-2" >
<mat-label style="font-size: 12px; color: #fff"
>Filial</mat-label
>
<mat-select
class="my-custom-class"
style="font-size: 12px"
[formControl]="filiais"
multiple
>
<mat-option
    class="select-all-companies"
    style="font-size: 12px"
    [value]="'-1'"

    >{{
        allCompaniesSelected
            ? "Desmarcar Todos"
            : "Marcar Todos"
    }}</mat-option
>

<mat-option
    style="font-size: 12px"
    *ngFor="
        let filial of filiaisStringList;
        let i = index
    "
    [value]="filiaisObjects[i].id.toString()"
    >{{ filial }}</mat-option
>
</mat-select>
</mat-form-field>
