<!-- Div Geral, é necessário criar estas variáveis no export component:
    titulo: string = "";
    subTitulo: string = "";
    isToggleOn: boolean;
 -->
<div class="flex-col w-full pl-1 pr-1">
    <div class="flex flex-grow w-full justify-end">
        <mat-slide-toggle class="pt-1" [(ngModel)]="isToggleOn">
            {{ isToggleOn ? "Ocultar filtros" : "Mostrar filtros" }}
        </mat-slide-toggle>
    </div>
    <div class="w-full">
        <div
            class="flex flex-auto items-center pt-6 pl-6 pr-6 justify-center w-full cabecalho-filtro h-full"
            *ngIf="isToggleOn"
        >
            <div class="flex flex-auto">
                <img
                    class="mr-3 logo-filter lg:block"
                    src="assets/images/logo/Logo-Rede-JS-Pecas_7.png"
                    alt=""
                />
                <div class="flex flex-col">
                    <div
                        class="text-3xl font-semibold tracking-tight leading-8"
                        style="color: #fff"
                    >
                        {{ titulo }}
                    </div>

                    <div class="font-medium tracking-tight" style="color: #fff">
                        {{ subTitulo }}
                    </div>
                </div>
            </div>
            <div class="flex flex-wrap justify-end">
                <!-- FILTROS VVVVV -->
                <app-selectfilial></app-selectfilial>
                <!-- FILTROS ^^^^^ -->
            </div>
            <!-- Botão de confirmar filtro, adicionar evento de (click) -->
            <button
                class="sm:inline-flex ml-5 apply-button"
                style="width: 120px"
                mat-flat-button
                [color]="'primary'"
            >
                <span style="font-size: 12px">Aplicar</span>
            </button>
        </div>
    </div>
    <div
        class="relative flex flex-wrap max-w-full max-w-screen-xl mx-auto p-1 md:p-1"
    >
        <!-- COMPONENTES ABAIXO -->
        <!-- Colocar class="grid px-2 py-2 w-12/12 rounded-2xl bg-card shadow mb-1" em todos componentes-->

        <div
            class="flex flex-col md:flex-row lg:flex-row xl:flex-row 2xl:flex-row w-full"
        >
            <div
                class="grid px-2 py-2 w-full md:w-2/5 lg:w-2/5 xl:w-2/5 2xl:w-2/5 justify-center center rounded-l-2xl bg-card shadow mb-1 overflow-hidden"
            >
                <div>Prazo - TOTAL</div>
                <div id="chartPie">
                    <apx-chart
                        [series]="chartOptionsPie.series"
                        [chart]="chartOptionsPie.chart"
                        [yaxis]="chartOptionsPie.yaxis"
                        [labels]="chartOptionsPie.labels"
                        [responsive]="chartOptionsPie.responsive"
                    ></apx-chart>
                </div>
            </div>
            <div
                class="grid px-2 py-2 w-full md:w-3/5 lg:w-3/5 xl:w-3/5 2xl:w-3/5 center rounded-r-2xl bg-card shadow mb-1 overflow-hidden"
            >
                <div>Prazo - MENSAL</div>
                <div id="chart">
                    <apx-chart
                        [series]="chartOptions1.series"
                        [chart]="chartOptions1.chart"
                        [stroke]="chartOptions1.stroke"
                        [tooltip]="chartOptions1.tooltip"
                        [dataLabels]="chartOptions1.dataLabels"
                        [plotOptions]="chartOptions1.plotOptions"
                        [responsive]="chartOptions1.responsive"
                        [xaxis]="chartOptions1.xaxis"
                        [yaxis]="chartOptions1.yaxis"
                        [legend]="chartOptions1.legend"
                        [fill]="chartOptions1.fill"
                    ></apx-chart>
                </div>
            </div>
        </div>
        <div
            class="flex flex-col md:flex-row lg:flex-row xl:flex-row 2xl:flex-row w-full"
        >
            <div
                class="grid px-2 py-2 w-full md:w-2/5 lg:w-2/5 xl:w-2/5 2xl:w-2/5 justify-center center rounded-l-2xl bg-card shadow mb-1 overflow-hidden"
            >
                <div>Tipos - TOTAL</div>
                <div id="chartPie2">
                    <apx-chart
                        [series]="chartOptionsPie2.series"
                        [chart]="chartOptionsPie2.chart"
                        [yaxis]="chartOptionsPie2.yaxis"
                        [labels]="chartOptionsPie2.labels"
                        [responsive]="chartOptionsPie2.responsive"
                    ></apx-chart>
                </div>
            </div>
            <div
                class="grid px-2 py-2 w-full md:w-3/5 lg:w-3/5 xl:w-3/5 2xl:w-3/5 center rounded-r-2xl bg-card shadow mb-1 overflow-hidden"
            >
                <div>Tipos - MENSAL</div>
                <div id="chat2">
                    <apx-chart
                        [series]="chartOptions2.series"
                        [chart]="chartOptions2.chart"
                        [stroke]="chartOptions2.stroke"
                        [tooltip]="chartOptions2.tooltip"
                        [dataLabels]="chartOptions2.dataLabels"
                        [plotOptions]="chartOptions2.plotOptions"
                        [responsive]="chartOptions2.responsive"
                        [xaxis]="chartOptions2.xaxis"
                        [yaxis]="chartOptions2.yaxis"
                        [legend]="chartOptions2.legend"
                        [fill]="chartOptions2.fill"
                    ></apx-chart>
                </div>
            </div>
        </div>
        <div
            class="grid px-2 py-2 w-full center rounded-r-2xl bg-card shadow mb-1 overflow-hidden"
        >
            <apx-chart
                [series]="heatMap.series"
                [chart]="heatMap.chart"
                [dataLabels]="heatMap.dataLabels"
                [colors]="heatMap.colors"
                [stroke]="heatMap.stroke"
                [plotOptions]="heatMap.plotOptions"
                [xaxis]="heatMap.xaxis"
                [title]="heatMap.title"
                [legend]="heatMap.legend"
            ></apx-chart>
        </div>
    </div>
</div>
