<!-- Div Geral, é necessário criar estas variáveis no export component:
    titulo: string = "";
    subTitulo: string = "";
    isToggleOn: boolean;
 -->
<div class=" flex-col w-full pl-1 pr-1 ">
    <div class="flex flex-grow w-full justify-end" >
        <mat-slide-toggle class="pt-1" [(ngModel)]="isToggleOn">
            {{ isToggleOn ? "Ocultar filtros" : "Mostrar filtros" }}
        </mat-slide-toggle>
    </div>
    <div class="w-full">
    <div class="flex flex-auto items-center pt-6 pl-6 pr-6 justify-center w-full cabecalho-filtro h-full"
    *ngIf="isToggleOn">
        <div class="flex flex-auto ">
            <img
                class="mr-3 logo-filter lg:block"
                src="assets/images/logo/Logo-Rede-JS-Pecas_7.png"
                alt=""
            />
            <div class="flex flex-col">
                <div
                    class="text-3xl font-semibold tracking-tight leading-8"
                    style="color: #fff"
                >
                    {{titulo}}
                </div>

                <div class="font-medium tracking-tight" style="color: #fff">
                    {{subTitulo}}
                </div>
            </div>
        </div>
        <div class="flex flex-wrap justify-end">
<!-- FILTROS VVVVV -->
            <app-selectfilial></app-selectfilial>
<!-- FILTROS ^^^^^ -->
        </div>
<!-- Botão de confirmar filtro, adicionar evento de (click) -->
            <button
                class="sm:inline-flex ml-5 apply-button"
                style="width: 120px"
                mat-flat-button
                [color]="'primary'"
                >
                <span style="font-size: 12px">Aplicar</span>
            </button>
        </div>
    </div>
    <div class="relative flex flex-wrap max-w-full max-w-screen-xl mx-auto p-1 md:p-1 gap-1 justify-center">
    <!-- COMPONENTES ABAIXO -->
        <!-- Colocar class="grid px-2 py-2 w-12/12 rounded-2xl bg-card shadow mb-1" em todos componentes-->
        <div class="grid px-2 py-2 max-w-100 rounded-2xl bg-card shadow mb-1 overflow-hidden">
            <div
                    class="text-lg font-medium tracking-tight leading-6 truncate"
                >
                    Tipos de Vendas
                </div>
            <apx-chart
            [series]="chartOptions.series"
            [chart]="chartOptions.chart"
            [labels]="chartOptions.labels"
            [responsive]="chartOptions.responsive"
        ></apx-chart>
        </div>
        <div class="grid px-2 py-2 w-3/5 rounded-2xl bg-card shadow mb-1 overflow-hidden">
            <div
                    class="text-lg font-medium tracking-tight leading-6 truncate"
                >
                    Tipos de Vendas - Ano
                </div>
            <apx-chart
                [series]="chartOptions1.series"
                [chart]="chartOptions1.chart"
                [dataLabels]="chartOptions1.dataLabels"
                [plotOptions]="chartOptions1.plotOptions"
                [responsive]="chartOptions1.responsive"
                [xaxis]="chartOptions1.xaxis"
                [legend]="chartOptions1.legend"
                [fill]="chartOptions1.fill"
            ></apx-chart>

        </div>
        <div class="grid px-2 py-2 w-3/5 rounded-2xl bg-card shadow mb-1 overflow-hidden">
            <div
                    class="text-lg font-medium tracking-tight leading-6 truncate"
                >
                    Tipos de Vendas - Ano
                </div>
            <apx-chart
                [series]="chartOptions1.series"
                [chart]="chartOptions1.chart"
                [dataLabels]="chartOptions1.dataLabels"
                [plotOptions]="chartOptions1.plotOptions"
                [responsive]="chartOptions1.responsive"
                [xaxis]="chartOptions1.xaxis"
                [legend]="chartOptions1.legend"
                [fill]="chartOptions1.fill"
            ></apx-chart>
        </div>

    </div>

</div>
