<body class="linksbody">
    <div class="container">
        <mat-grid-list cols="1" rowHeight="5:1" class="grid-layout-custom">
            <mat-grid-tile class="a" (click)="onClickGLPI()">
                <p class="pa">GLPI (Chamados)</p>
            </mat-grid-tile>
            <br />
            <br />
            <mat-grid-tile class="b" (click)="onClickAgilize()"
                ><p class="pb">Agilize</p></mat-grid-tile
            >
            <br />
            <br />
            <mat-grid-tile class="a" (click)="onClickNormas()"
                ><p class="pa">Políticas Processos e Normas</p></mat-grid-tile
            >
            <br />
            <br />
            <mat-grid-tile class="b" (click)="onClickGupy()"
                ><p class="pb">GUPY</p></mat-grid-tile
            >
        </mat-grid-list>
    </div>
</body>
