.mat-column-NOMEFANTASIA {
    min-width: 200px;
}

.mat-column-ATINGMETAROL {
    min-width: 100px ;
}

.mat-column-GAPMETAROL {
    min-width: 110px ;
}

.mat-column-METAMB {
    min-width: 96px ;
}

.mat-column-REALMB {
    min-width: 96px ;
}

.mat-column-DIFMB {
    min-width: 96px ;
}

.mat-column-ATINGMETALB {
    min-width: 100px ;
}

th {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

td {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

tr.mat-mdc-header-row {
    height: 30px;
}

tr.mat-mdc-row {
    height: 30px;
}

