<div class="box-content h-full w-full mt-0 mr-2 mb-0 ml-2 p-0" id="painelAnaliseMarca" >

    <div class="flex flex-row w-full rounded-2xl mt-1 mr-0 mb-2 ml-0">

        <button matTooltip="Indicadores Adicionais" class="flex items-center pl-2 ml-auto " style="visibility: visible !important;" >
            <mat-icon aria-hidden="false" fontIcon="settings" ></mat-icon>
        </button>

        <div class="flex items-center flex-grow justify-end">
            <mat-slide-toggle [(ngModel)]="isToggleOn" (click)="showFilter($event,containerFilter,containerForm,containerDash)">
                {{ isToggleOn ? "Ocultar filtros" : "Mostrar filtros" }}
            </mat-slide-toggle>
        </div>

    </div>
  <!---------------------------_classContainerCenter----------------------------------------------------------------------------------------------------------------------------------->

    <div class="w-full h-full sm:h-full md:h-full lg:h-full xl:h-full 2xl:h-full"  id="containerCenter">

        <div id="containerFilter" #containerFilter [ngClass]="_classFilterInicial" [hidden]="true">

            <div id="containerForm" #containerForm class="object-fill rounded-2xl w-full mt-0 mr-0 mb-0 ml-0" [hidden]="true">

                <div class="flex flex-row items-center pt-2 pl-2 pr-2 mb-2 w-full">

                    <div class="flex flex-auto">
                        <img
                            class="mr-3 logo-filter hidden lg:block w-12 h-12"
                            src="assets/images/logo/Logo-Rede-JS-Pecas_7.png"
                            alt=""
                        />
                        <div class="flex flex-col">
                            <div
                                class="text-3xl font-semibold tracking-tight leading-8 text-white"
                            >
                                Análise Marca
                            </div>

                            <div class="font-medium tracking-tight text-white" >
                                {{_sysdate}}
                            </div>
                        </div>
                    </div>

                    <div class="flex items-start ml-15">

                        <mat-form-field appearance="fill" class="hidden sm:inline-flex ml-3 p-2" >
                            <mat-label> <p class="text-white"> Referência </p></mat-label>
                            <input matInput [matDatepicker]="picker" id="dtref" #dataref (dateChange)="formatDataMesAno($event)" (blur)="formatDataMesAno2(dataref)">
                            <!-- <mat-hint>DD/MM/YYYY</mat-hint> -->
                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker [startView]="true ? 'year' : 'month'"></mat-datepicker>
                        </mat-form-field>

                        <div class="pt-7">
                            <button
                                class="hidden sm:inline-flex ml-5 apply-button"
                                style="width: 120px"
                                mat-flat-button
                                [color]="'primary'"
                                (click)="consultavendafilial(dataref.value)"
                            >
                                <span style="font-size: 12px">Aplicar</span>
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div id="containerDash" #containerDash [ngClass]="_classDashInicial" [hidden]="false"  style="height: 100% !important;">
            <div id="divChart" #divChart class="w-full p-0 mt-0 mr-0 mb-0 ml-0" [hidden]="false">
                <div id="chart" #chart [ngClass]="_classChart" style="height: 100% !important;" >
                <apx-chart [ngClass]="_classChart" style="background-color: white; height: 100% !important;"
                    [series]="chartOptions.series"
                    [chart]="chartOptions.chart"
                    [yaxis]="chartOptions.yaxis"
                    [xaxis]="chartOptions.xaxis"
                    [dataLabels]="chartOptions.dataLabels"
                    [grid]="chartOptions.grid"
                    [stroke]="chartOptions.stroke"
                    [title]="chartOptions.title"
                    [responsive]="chartOptions.responsive"
                    [tooltip]="chartOptions.tooltip"
                ></apx-chart>
                </div>
            </div>

        </div>
    </div>
</div>
