<div class="flex flex-col w-full">
    <!-- Edit mode -->
    <ng-container>
        <!-- Header -->
        <!-- <div
            class="relative w-full h-40 sm:h-48 px-8 sm:px-12 bg-accent-100 dark:bg-accent-700"
        > -->
        <!-- Background -->
        <!-- <ng-container *ngIf="contact.background">
                <img
                    class="absolute inset-0 object-cover w-full h-full"
                    [src]="contact.background"
                />
            </ng-container> -->
        <!-- Close button -->
        <div
            class="flex items-center justify-end w-full max-w-3xl mx-auto pt-6"
        >
            <a
                mat-icon-button
                [matTooltip]="'Fechar'"
                [routerLink]="['../']"
                (click)="closeDrawer()"
            >
                <mat-icon
                    class="text-black"
                    [svgIcon]="'heroicons_outline:x'"
                ></mat-icon>
            </a>
        </div>
        <!-- </div> -->
        <br />

        <!-- Contact form -->
        <div
            class="relative flex flex-col flex-auto items-center px-6 sm:px-12"
        >
            <div class="w-full max-w-3xl">
                <form [formGroup]="contactForm">
                    <!-- Name -->
                    <div class="mt-8">
                        <mat-form-field
                            class="w-full"
                            [subscriptSizing]="'dynamic'"
                        >
                            <mat-label>Nome</mat-label>
                            <mat-icon
                                matPrefix
                                class="hidden sm:flex icon-size-5"
                                [svgIcon]="'heroicons_solid:user-circle'"
                            ></mat-icon>
                            <input
                                matInput
                                [formControlName]="'name'"
                                [placeholder]="'Name'"
                                [spellcheck]="false"
                            />
                        </mat-form-field>
                    </div>

                    <!-- Email -->
                    <div class="mt-8">
                        <mat-form-field
                            class="w-full"
                            [subscriptSizing]="'dynamic'"
                        >
                            <mat-label>Email</mat-label>
                            <mat-icon
                                matPrefix
                                class="hidden sm:flex icon-size-5"
                                [svgIcon]="'heroicons_solid:at-symbol'"
                            ></mat-icon>
                            <input
                                matInput
                                [formControlName]="'email'"
                                [placeholder]="'Email'"
                            />
                        </mat-form-field>
                    </div>

                    <!-- Role -->
                    <div class="mt-8">
                        <mat-form-field
                            class="w-full"
                            [subscriptSizing]="'dynamic'"
                        >
                            <mat-label>Tipo de Usuário</mat-label>
                            <mat-icon
                                matPrefix
                                class="hidden sm:flex icon-size-5"
                                [svgIcon]="'heroicons_solid:user'"
                            ></mat-icon>
                            <input
                                matInput
                                [formControlName]="'role'"
                                [placeholder]="'Tipo de Usuário'"
                            />
                        </mat-form-field>
                    </div>

                    <!-- Groups and Dashs -->

                    <div class="flex mt-8">
                        <mat-form-field
                            class="w-full mr-1"
                            [subscriptSizing]="'dynamic'"
                        >
                            <mat-label>Grupos</mat-label>
                            <mat-select
                                class="my-custom-class"
                                style="font-size: 12px"
                                [formControl]="groups"
                                multiple
                            >
                                <mat-option
                                    style="font-size: 12px"
                                    *ngFor="
                                        let group of groupsStringList;
                                        let i = index
                                    "
                                    [value]="groupsObjects[i].id"
                                    >{{ group }}</mat-option
                                >
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field
                            class="w-full"
                            [subscriptSizing]="'dynamic'"
                        >
                            <mat-label>Dashboards</mat-label>
                            <mat-select
                                class="my-custom-class"
                                style="font-size: 12px"
                                [formControl]="dashs"
                                multiple
                            >
                                <mat-option
                                    style="font-size: 12px"
                                    *ngFor="
                                        let dash of dashsStringList;
                                        let i = index
                                    "
                                    [value]="dashsObjects[i].id"
                                    >{{ dash }}</mat-option
                                >
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field
                            class="w-full ml-1"
                            [subscriptSizing]="'dynamic'"
                        >
                            <mat-label>Relatórios</mat-label>
                            <mat-select
                                class="my-custom-class"
                                style="font-size: 12px"
                                [formControl]="reports"
                                multiple
                            >
                                <mat-option
                                    style="font-size: 12px"
                                    *ngFor="
                                        let report of reportStringList;
                                        let i = index
                                    "
                                    [value]="reportObjects[i].id"
                                    >{{ report }}</mat-option
                                >
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <!-- Current password -->
                    <div class="sm:col-span-4 mt-8">
                        <mat-form-field
                            class="w-full"
                            [subscriptSizing]="'dynamic'"
                        >
                            <mat-label>Defina a senha</mat-label>
                            <mat-icon
                                class="icon-size-5"
                                [svgIcon]="'heroicons_solid:key'"
                                matPrefix
                            ></mat-icon>
                            <input
                                [formControlName]="'password'"
                                type="password"
                                matInput
                            />
                        </mat-form-field>
                        <!-- <div class="mt-1 text-md text-hint">
                            No mínimo 8 caracteres. Precisa conter números,
                            letras e caracteres especiais.
                        </div> -->
                    </div>
                    <!-- New password -->
                    <!-- <div class="sm:col-span-4 mt-8">
                        <mat-form-field
                            class="w-full"
                            [subscriptSizing]="'dynamic'"
                        >
                            <mat-label>Confirme a senha</mat-label>
                            <mat-icon
                                class="icon-size-5"
                                [svgIcon]="'heroicons_solid:key'"
                                matPrefix
                            ></mat-icon>
                            <input
                                [formControlName]="'newPassword'"
                                type="password"
                                matInput
                            />
                        </mat-form-field> -->
                    <!-- <div class="mt-1 text-md text-hint">
                                        No mínimo 8 caracteres. Precisa conter números, letras e
                                        caracteres especiais.
                                    </div> -->
                    <!-- </div> -->

                    <!-- Address -->
                    <!-- <div class="mt-8">
                        <mat-form-field
                            class="w-full"
                            [subscriptSizing]="'dynamic'"
                        >
                            <mat-label>Address</mat-label>
                            <mat-icon
                                matPrefix
                                class="hidden sm:flex icon-size-5"
                                [svgIcon]="'heroicons_solid:location-marker'"
                            ></mat-icon>
                            <input
                                matInput
                                [formControlName]="'address'"
                                [placeholder]="'Address'"
                            />
                        </mat-form-field>
                    </div> -->

                    <!-- Birthday -->
                    <!-- <div class="mt-8">
                        <mat-form-field
                            class="w-full"
                            [subscriptSizing]="'dynamic'"
                        >
                            <mat-label>Birthday</mat-label>
                            <mat-icon
                                matPrefix
                                class="hidden sm:flex icon-size-5"
                                [svgIcon]="'heroicons_solid:cake'"
                            ></mat-icon>
                            <input
                                matInput
                                [matDatepicker]="birthdayDatepicker"
                                [formControlName]="'birthday'"
                                [placeholder]="'Birthday'"
                            />
                            <mat-datepicker-toggle
                                matSuffix
                                [for]="birthdayDatepicker"
                            >
                            </mat-datepicker-toggle>
                            <mat-datepicker
                                #birthdayDatepicker
                            ></mat-datepicker>
                        </mat-form-field>
                    </div> -->

                    <!-- Notes -->
                    <!-- <div class="mt-8">
                        <mat-form-field
                            class="w-full"
                            [subscriptSizing]="'dynamic'"
                        >
                            <mat-label>Notes</mat-label>
                            <mat-icon
                                matPrefix
                                class="hidden sm:flex icon-size-5"
                                [svgIcon]="'heroicons_solid:menu-alt-2'"
                            ></mat-icon>
                            <textarea
                                matInput
                                [formControlName]="'notes'"
                                [placeholder]="'Notes'"
                                [rows]="5"
                                [spellcheck]="false"
                                cdkTextareaAutosize
                            ></textarea>
                        </mat-form-field>
                    </div> -->

                    <!-- Actions -->
                    <div
                        class="flex items-center mt-10 -mx-6 sm:-mx-12 py-4 pr-4 pl-1 sm:pr-12 sm:pl-7 border-t bg-gray-50 dark:bg-transparent"
                    >
                        <!-- Cancel -->
                        <button
                            class="ml-auto"
                            mat-button
                            [matTooltip]="'Cancelar'"
                            [routerLink]="['../']"
                            (click)="closeDrawer()"
                        >
                            Cancelar
                        </button>
                        <!-- Save -->
                        <button
                            class="ml-2"
                            mat-flat-button
                            [color]="'primary'"
                            [disabled]="contactForm.invalid"
                            [matTooltip]="'Salvar'"
                            (click)="createContact()"
                        >
                            Salvar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </ng-container>
</div>
